<div class="contentbox-new">
  <div class="contentit-l-new">
    <div class="contennews">
      <b>{{Title}}</b>
      <span><i class="fas fa-home"></i><a [routerLink]="['/biz/home']" > 主页</a></span> ·
      <span>配载发车</span> ·
      <span>{{Title}}</span>
    </div>
  </div>
  <div class="contenttex-r-new">
    
  </div>
</div>
<div>

  <ng-container *ngIf="GroupSubItemType!='localtihuo'">
    <app-biz-groupinsdecommomlist [orderStoreSubject]="orderStoreSubject"
                                  [GroupSubItemType]="GroupSubItemType"></app-biz-groupinsdecommomlist>
  </ng-container>
  <ng-container *ngIf="GroupSubItemType =='localtihuo'">
    <app-biz-groupinsdetihuogridlist [orderStoreSubject]="orderStoreSubject"
                                  [GroupSubItemType]="GroupSubItemType"></app-biz-groupinsdetihuogridlist>
  </ng-container>
<!--  <mat-tab-group >-->
<!--    <mat-tab label="待派车列表">-->


<!--    </mat-tab>-->
<!--    <mat-tab label="新派车单">-->
<!--      <app-shipmentinsidegroup-create [orderStoreSubject]="orderStoreSubject" [inputtasktype]="GroupSubItemType"></app-shipmentinsidegroup-create>-->

<!--    </mat-tab>-->
<!--  </mat-tab-group>-->
</div>
