<div class="contentbox">
  <div class="contentit-l">
    <mat-card-title>配载发车/{{Title}}</mat-card-title>
    <mat-card-subtitle><b>| 当前位置</b></mat-card-subtitle>
  </div>
  <div class="contenttex-r"></div>
</div>
<div class="bendbox">


  <ng-container *ngIf="GroupSubItemType!='localtihuo'">
    <app-biz-groupinsdecommomlist [orderStoreSubject]="orderStoreSubject"
                                  [GroupSubItemType]="GroupSubItemType"></app-biz-groupinsdecommomlist>
  </ng-container>
  <ng-container *ngIf="GroupSubItemType =='localtihuo'">
    <app-biz-groupinsdetihuogridlist [orderStoreSubject]="orderStoreSubject"
                                  [GroupSubItemType]="GroupSubItemType"></app-biz-groupinsdetihuogridlist>
  </ng-container>
<!--  <mat-tab-group >-->
<!--    <mat-tab label="待派车列表">-->


<!--    </mat-tab>-->
<!--    <mat-tab label="新派车单">-->
<!--      <app-shipmentinsidegroup-create [orderStoreSubject]="orderStoreSubject" [inputtasktype]="GroupSubItemType"></app-shipmentinsidegroup-create>-->

<!--    </mat-tab>-->
<!--  </mat-tab-group>-->
</div>
