<div class="contentbox-new">
  <div class="contentit-l-new">
    <div class="contennews">
      <b>车辆类型</b>
      <span><i class="fas fa-home"></i><a [routerLink]="['/biz/home']" > 主页</a></span> ·
      <span>基础资料</span> ·
      <span>车辆类型</span>
    </div>
  </div>
  <div class="contenttex-r-new">
  </div>
</div>
<form class="listfrom-new2" [formGroup]="searchp" >
  <div fxLayout="row" fxLayoutAlign="space-between center" class="margin_t_10">
    <div fxFlex="24">
      <mat-form-field class="comwidth">
        <input matInput placeholder="车型名称" formControlName="Name" />
      </mat-form-field>
    </div>
    <div fxFlex="24">
      <mat-form-field class="comwidth">
        <input matInput placeholder="编码" formControlName="Code" />
      </mat-form-field>
    </div>
    <div fxFlex="24">
      <button ejs-button cssClass="e-info mat-width" (click)="searching()">查询</button>
    </div>
    <div fxFlex="24"></div>
  </div>
</form>
<ejs-grid #grid  allowResizing= 'true' height="{{gridheight}}"
          (dataStateChange)="dataStateChange($event)"
          [allowExcelExport]='true'  allowSorting='false'
          [allowSelection]="true"
          [enableHover]="false"
          allowPaging='true'  class="tabbox-new">
  <e-columns >
    <e-column field='Name'  headerText='名称' isPrimaryKey='true' width='165'></e-column>
    <e-column field='Code' headerText='编号'  width=120></e-column>
    <e-column field='TypeLegth' headerText='长度(m)'  width=110></e-column>
    <e-column field='TypeWidth' headerText='宽度(m)'  width=110></e-column>
    <e-column field='TypeHeight' headerText='高度(m)'  width=120></e-column>
    <e-column field='Volumecapacity' headerText='容积(m3)' textAlign="left"  width='150'></e-column>
    <e-column field='Weightcapacity' headerText='吨位(T)' textAlign="left"  width='130'></e-column>
  </e-columns>
</ejs-grid>




