.contentbox-new {padding:10px 10px 10px 10px;wdith:100%;height:auto;clear:both;overflow:hidden;background:#fff;border-bottom:1px #e1e1e1 solid}
.contentit-l-new {width:40%;height:auto;float: left;}
.contenttex-r-new {width:60%;height:auto;float: right;text-align:right}
.contentit-l-new div {width:100%;height:auto;margin-top:0px;font-size:16px;color:#666}
.contentit-l-new a {color:#666;text-decoration: none}
.contentit-l-new a:hover {color:#111;text-decoration:none;cursor:pointer}
.contenttex-r-new button {margin-left:10px;margin-top:-5px;float:right}
.listfrom-new2 {width:98.3%;height:55px!important;overflow:hidden;margin:10px auto 0 auto!important;background:none;}
.listfrom-new2 button {margin-left:10px}
.tabbox-new {width:98.3%;height:auto!important;overflow:hidden;margin:0 10px 0 10px!important;background:none;}
.contennews b{font-size:18px;color:#000;margin-right: 10px;font-weight: normal}
.contennews span {font-size:13px;color:#666;font-weight: normal}
.contennews span a  {font-size:13px;color:#666;font-weight: normal}
.contennews span i {color:#888}
.fn-box {margin:10px;border:1px #eee solid;background:#fff;padding:10px}
.comwidth {width:100%!important;}
.databoxs {width:100%;margin:0 auto 0 auto!important; }
.e-grid .e-headercell, .e-grid .e-detailheadercell {height:32px!important;padding:0 15px 0!important;}
.e-grid .e-rowcell {padding:8px 15px!important;width:auto!important;margin:0 10px!important;}
::ng-deep .e-grid .e-gridheader .e-sortfilter .e-headercelldiv {padding:0 0.6em;}











