<div class="contentbox-new">
  <div class="contentit-l-new">
    <div class="contennews">
      <b>异常汇总列表</b>
      <span><i class="fas fa-home"></i><a [routerLink]="['/biz/home']" > 主页</a></span> ·
      <span>过程跟踪</span> ·
      <span>异常汇总列表</span>
    </div>
  </div>
  <div class="contenttex-r-new"></div>
</div>
<form class="listfrom-new2" [formGroup]="searchp" >
  <div fxLayout="row" fxLayoutAlign="space-between center" class="margin_t_10">
    <div fxFlex="24">
      <mat-form-field class="comwidth">
        <input matInput placeholder="物流单号" formControlName="OrderTrackServerId" />
      </mat-form-field>
    </div>
    <div fxFlex="24">
      <button ejs-button cssClass="e-info mat-width" (click)="searching()">查询</button>
    </div>
    <div fxFlex="24">
    </div>
    <div fxFlex="24">
    </div>
  </div>
</form>
<ejs-grid #grid  allowResizing= 'true' height="{{gridheight}}"
          (dataStateChange)="dataStateChange($event)"
          [allowExcelExport]='true'  allowSorting='false'
          [allowSelection]="true"
          [enableHover]="false"
          allowPaging='true'  class="tabbox-new">
  <e-columns >
    <e-column field='OrderTrackServerId' headerText='物流单号'  width=160>
      <ng-template #template let-data>
        <a [routerLink]="['/biz/orderserver/badorderdetail', data.MessageId]">{{data.OrderTrackServerId}}</a>
      </ng-template>
    </e-column>
    <e-column field='OrigincustomLinkman' headerText='发货联系人' textAlign="left"  width='100'></e-column>
    <e-column field='DestLinkman' headerText='收货联系人'  textAlign="left" width=100></e-column>
    <e-column field='OriginCity' headerText='发货城市' textAlign="left"  width=110></e-column>
    <e-column field='DestCity' headerText='到货城市' textAlign="left"  width=110></e-column>
    <e-column field='MessageId' headerText='消息编号'  width=110></e-column>
    <e-column field='HappendTime' headerText='发生时间'  width=120></e-column>
    <e-column field='OrderModule' headerText='异常模块'  width=120></e-column>
    <e-column field='QuestionMsg' headerText='异常问题'  width=110></e-column>
    <e-column field='SubmitUserName' headerText='提交人'  width=110></e-column>
    <e-column field='ProcessStatued' headerText='处理状态'  width=110></e-column>
    <e-column field='ResponseLogisticStoreName' headerText='关联网点'  width=150></e-column>
    <e-column field='QuestionCliam' headerText='消息分类'  width=110></e-column>
    <e-column field='ToUserName' headerText='赔付人'  width=110></e-column>
    <e-column field='PeifuPrice' headerText='赔付金额'  width=110></e-column>
    <e-column field='PeifuStatued' headerText='赔付状态'  width=120></e-column>
  </e-columns>
</ejs-grid>




