
<ejs-grid #grid  allowResizing= 'true' height="{{gridheight}}"
          (dataStateChange)="dataStateChange($event)"
          [allowExcelExport]='true'  allowSorting='false'
          [allowSelection]="true"
          [enableHover]="false"
          allowPaging='false'  class="contlistbox">
  <e-columns >
    <e-column type='checkbox' width='50'></e-column>
    <e-column field='SettleId' headerText='费用编号'  width=80>
      <ng-template #template let-data>
        <a [routerLink]="['/biz/fncharge/user-detail', data.SettleId]">{{data.SettleId }} </a>
      </ng-template>
    </e-column>
    <e-column field='Chargeparty' headerText='收付款对象'  width=180></e-column>
    <e-column field='Invoiceparty' headerText='受票方'  textAlign="left" width=100></e-column>
    <e-column field='Invoiceamt' headerText='开票金额'  textAlign="left" width=100></e-column>
    <e-column field='OpendInvoiceamount' headerText='已开票金额'  textAlign="left" width=100></e-column>
    <e-column field='Partytaxno' headerText='税号'  textAlign="left" width=100></e-column>
    <e-column field='Taxrate' headerText='税率' format="P2" textAlign="left" width=150></e-column>
    <e-column field='InvoicetypeDesc' headerText='发票类型'  textAlign="left" width=150></e-column>
    <e-column field='OperateUserName' headerText='提交人'  textAlign="left" width=150></e-column>
    <e-column field='OperateDateTime' headerText='提交时间'  textAlign="left" width=150></e-column>
  </e-columns>
</ejs-grid>
