<div class="opendivs"><h3><i class="fas fa-clipboard-check"></i> 客户接单</h3></div>
<div class="matfullheight">
<mat-dialog-content class="mat-typography">
  <ngb-alert *ngIf="ErrorMsg.length>0" type="danger"  (close)="ErrorMsg = '' ">{{ErrorMsg}}</ngb-alert>
  <div>
  接单网点:
  <ejs-dropdownlist
    id='games' #sample
    placeholder='请选择接单网点' [dataSource]='logistticstores'
    [popupHeight]='200'
    [fields]='logisticstorefiled' ></ejs-dropdownlist>
  </div>
  <div style="margin-top:10px">
    预计提货时间:
    <ejs-datetimepicker #submitdatetime [(value)]="PlanCarTime" format='yyyy-MM-dd HH:mm'></ejs-datetimepicker>
    <span style="font-size:13px;color:#ff0004">如果当前没有安排时间，可后续在车辆预约中填写</span>
  </div>
  <div style="margin-top:10px">
   提货车牌号:
  <ejs-textbox #tihuonumbertxt placeholder='' ></ejs-textbox>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close color="cancel" style="padding:8px 8px!important;" (click)="close()">取消</button>
  <button mat-button mat-raised-button color="green"  style="padding:8px 8px!important;" (click)="SaveData($event)" >确认接单</button>
</mat-dialog-actions>
</div>

