.tabinfobox {margin:0 12px 0 12px!important;background:#fff;padding:5px 10px;border:1px #eee solid}
.tabinfobox span {font-size:12px;color:#666;margin-right:10px;padding-left:17px;}
.tabinfobox b {font-weight:normal;color:#666}
.tabinfobox h2 {font-size:14px;margin:8px 0 5px 0}
.billtit h2 {font-size:14px;border-top:1px #eee solid;padding:15px 0 5px 0;margin:5px 0 0 0}
.billtit {margin-top:10px;}
.ejstable {margin:0 12px}
.e-grid .e-headercell, .e-grid .e-detailheadercell {height:32px!important;padding:0 15px 0!important;}
.e-grid .e-rowcell {padding:8px 15px!important;width:auto!important;margin:0 10px!important;}
::ng-deep .e-grid .e-gridheader .e-sortfilter .e-headercelldiv {padding:0 0.6em;}
