<div class="contentbox">
  <div class="contentit-l">
    <div><i class="fas fa-compass"></i> 当前位置：<a [routerLink]="['/biz/vehicle-management/outdriver-list']" >外租车列表</a>  / <b>
      {{modeldata.Drname}}</b></div>
  </div>
  <div class="contenttex-r">
    <button ejs-button cssClass="e-info mat-width" (click)="motifydata()">修改</button>
    <button ejs-button cssClass="e-info mat-width mat-reject"
            appTmssaveconfirm
            comfirmMessage="是否删除?"
            (onSuggest)="del($event)">删除</button>
  </div>
</div>

<div *ngIf="modeldata">

  <mat-tab-group>
    <mat-tab label="司机&车辆">  <div class="bendbox">
      <div class="serttits"><i class="fas fa-user-alt"></i>车主信息</div>
      <div fxLayout="row" fxLayoutAlign="space-between center" class="margin_t_10">
        <div fxFlex="32">
          资源编号：<ejs-textbox   [(ngModel)]="modeldata.ResourceId" ></ejs-textbox>
        </div>
        <div fxFlex="32">
          姓名：<ejs-textbox   [(ngModel)]="modeldata.Drname" ></ejs-textbox>
        </div>
        <div fxFlex="32">
          联系电话：<ejs-textbox   [(ngModel)]="modeldata.Drtel" ></ejs-textbox>
        </div>
      </div>
      <div fxLayout="row" fxLayoutAlign="space-between center" class="margin_t_10">
        <div fxFlex="32">
          身份证号：<ejs-textbox   [(ngModel)]="modeldata.Dridnum" ></ejs-textbox>
        </div>
        <div fxFlex="32">
          驾驶证号：<ejs-textbox   [(ngModel)]="modeldata.Drlicensenum" ></ejs-textbox>
        </div>
        <div fxFlex="32">
          家庭住址：<ejs-textbox   [(ngModel)]="modeldata.Draddr" ></ejs-textbox>
        </div>
      </div>

    </div>
      <div class="bendbox">
        <div class="serttits"><i class="fas fa-car"></i>车辆信息</div>
        <div fxLayout="row" fxLayoutAlign="space-between center" class="margin_t_10">
          <div fxFlex="19">
            车牌号码：<ejs-textbox   [(ngModel)]="modeldata.Trnum" readonly="readonly"  ></ejs-textbox>
          </div>
          <div fxFlex="19">
            车辆类型：<ejs-textbox   [(ngModel)]="modeldata.Trtype"  readonly="readonly" ></ejs-textbox>
          </div>
          <div fxFlex="19">
            属性：<ejs-textbox   [(ngModel)]="modeldata.Source" readonly="readonly"  ></ejs-textbox>
          </div>
          <div fxFlex="19">
            载重：<ejs-textbox   [(ngModel)]="modeldata.Weight" readonly="readonly"  ></ejs-textbox>
          </div>
          <div fxFlex="19">
            容积：<ejs-textbox   [(ngModel)]="modeldata.Volume" readonly="readonly"  ></ejs-textbox>
          </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="space-between center" class="margin_t_10">
          <div fxFlex="19">
            长：<ejs-textbox   [(ngModel)]="modeldata.Length"  readonly="readonly" ></ejs-textbox>
          </div>
          <div fxFlex="19">
            宽：<ejs-textbox   [(ngModel)]="modeldata.Width" readonly="readonly"  ></ejs-textbox>
          </div>
          <div fxFlex="19">
            高：<ejs-textbox   [(ngModel)]="modeldata.Height"  readonly="readonly" ></ejs-textbox>
          </div>
          <div fxFlex="19">
            GPS信息：<ejs-textbox  placeholder="GPS厂商"  [(ngModel)]="modeldata.Gpstype" readonly="readonly"  ></ejs-textbox>
          </div>
          <div fxFlex="19">
            <ejs-textbox  placeholder="GPS机构号" style="margin-top:21px" [(ngModel)]="modeldata.Gpsno" readonly="readonly"  ></ejs-textbox>
          </div>
        </div>
      </div>
      <div class="bendbox">
        <div class="serttits"><i class="fas fa-info-circle"></i>其他</div>
        <div fxLayout="row" fxLayoutAlign="space-between center" class="margin_t_10">
          <div fxFlex="15"> 计费合同:<mat-checkbox style="margin-left: 5px;" [(ngModel)]="modeldata.AllowAddHandlerFee" readonly="readonly"></mat-checkbox></div>
          <div fxFlex="15">

            状态：<mat-checkbox  [(ngModel)]="modeldata.Enabel"  style="margin-left: 5px;" readonly="readonly" ></mat-checkbox>
          </div>
          <div fxFlex="15">
            平台用户：<mat-checkbox  [(ngModel)]="modeldata.IsplatformUser"  style="margin-left: 5px;" readonly="readonly" ></mat-checkbox>
          </div>
          <div fxFlex="55"></div>
        </div>
        <div fxLayout="row" fxLayoutAlign="space-between center" class="margin_t_20">
          <div fxFlex="19">
            <table class="mulproperty">
              <tr>
                <td class="left-side">创建人：</td><td><ejs-textbox readonly="readonly" [(ngModel)]="modeldata.CreateUser" ></ejs-textbox></td>
              </tr>
            </table>
          </div>
          <div fxFlex="19">
            <table class="mulproperty">
              <tr>
                <td class="left-side">创建时间：</td><td><ejs-textbox  [(ngModel)]="modeldata.CreateDateTime" readonly="readonly"  ></ejs-textbox></td>
              </tr>
            </table>
          </div>
          <div fxFlex="59.6"></div>

        </div>
        <div fxLayout="row" fxLayoutAlign="space-between center" class="margin_t_10">
          <div fxFlex="100">
            备注：<ejs-textbox  rows="3" [multiline]="true" [(ngModel)]="modeldata.Mark" ></ejs-textbox>
          </div>
        </div>
      </div></mat-tab>
    <mat-tab label="运费协议">
      <app-biz-userpricecontractlist></app-biz-userpricecontractlist>
    </mat-tab>

    <mat-tab label="联盟用户信息"></mat-tab>
  </mat-tab-group>




</div>

<!--<div class="bendbox">-->
<!--  <div class="serttits"><i class="fas fa-info-circle"></i>基本信息</div>-->
<!--  <div fxLayout="row" fxLayoutAlign="space-between center" class="margin_t_10">-->
<!--    <div fxFlex="19">派车单号：<ejs-textbox  placeholder="派车单号" ngModel="" ></ejs-textbox></div>-->
<!--    <div fxFlex="19">车辆来源：<ejs-textbox  placeholder="车辆来源" ngModel="" ></ejs-textbox></div>-->
<!--    <div fxFlex="19">所属组织：<ejs-dropdownlist placeholder="所属组织" ngModel="" ></ejs-dropdownlist></div>-->
<!--    <div fxFlex="19">使用组织：<ejs-dropdownlist  placeholder="使用组织" ngModel=""></ejs-dropdownlist></div>-->
<!--    <div fxFlex="19">付款方式：<ejs-dropdownlist  placeholder="付款方式" ngModel=""></ejs-dropdownlist></div>-->
<!--  </div>-->
<!--  <div fxLayout="row" fxLayoutAlign="space-between center" class="margin_t_10">-->
<!--    <div fxFlex="19">月结车辆：<ejs-checkbox  label="月结车辆" ngModel="" ></ejs-checkbox></div>-->
<!--    <div fxFlex="19">是否车头：<ejs-dropdownlist required  placeholder="是否车头" ngModel="" ></ejs-dropdownlist></div>-->
<!--    <div fxFlex="19">常跑线路：<ejs-dropdownlist placeholder="常跑线路" ngModel="" ></ejs-dropdownlist></div>-->
<!--    <div fxFlex="19">GPS厂商：<ejs-dropdownlist  placeholder="GPS厂商" ngModel=""></ejs-dropdownlist></div>-->
<!--    <div fxFlex="19">GPS机构号：<ejs-dropdownlist  placeholder="GPS机构号" ngModel=""></ejs-dropdownlist></div>-->
<!--  </div>-->
<!--  <div fxLayout="row" fxLayoutAlign="space-between center" class="margin_t_10">-->
<!--    <div fxFlex="19">车牌颜色：<ejs-textbox  placeholder="车牌颜色" ngModel="" ></ejs-textbox></div>-->
<!--    <div fxFlex="19">车型：<ejs-textbox  placeholder="车型" ngModel="" ></ejs-textbox></div>-->
<!--    <div fxFlex="19">核定载重：<ejs-textbox placeholder="核定载重-吨" ngModel="" ></ejs-textbox></div>-->
<!--    <div fxFlex="19">核定体积：<ejs-textbox  placeholder="核定体积" ngModel=""></ejs-textbox></div>-->
<!--    <div fxFlex="19">车辆颜色：<ejs-textbox  placeholder="车辆颜色" ngModel=""></ejs-textbox></div>-->
<!--  </div>-->
<!--  <div fxLayout="row" fxLayoutAlign="space-between center" class="margin_t_10">-->
<!--    <div fxFlex="19">车长：<ejs-textbox  placeholder="车长" ngModel="" ></ejs-textbox></div>-->
<!--    <div fxFlex="19">车宽：<ejs-textbox  placeholder="车宽" ngModel="" ></ejs-textbox></div>-->
<!--    <div fxFlex="19">车高：<ejs-textbox placeholder="车高" ngModel="" ></ejs-textbox></div>-->
<!--    <div fxFlex="19">品牌：<ejs-textbox  placeholder="品牌" ngModel=""></ejs-textbox></div>-->
<!--    <div fxFlex="19">购买日期：<ejs-datetimepicker format='yyyy-MM-dd HH:mm' placeholder="购买日期" ngModel=""></ejs-datetimepicker></div>-->
<!--  </div>-->
<!--  <div fxLayout="row" fxLayoutAlign="space-between center" class="margin_t_10">-->
<!--    <div fxFlex="19">车架号：<ejs-textbox  placeholder="车架号" ngModel="" ></ejs-textbox></div>-->
<!--    <div fxFlex="19">发动机号：<ejs-textbox  placeholder="发动机号" ngModel="" ></ejs-textbox></div>-->
<!--    <div fxFlex="19">道路运输证号：<ejs-textbox placeholder="道路运输证号" ngModel="" ></ejs-textbox></div>-->
<!--    <div fxFlex="19">牌照类型：<ejs-dropdownlist  placeholder="牌照类型" ngModel=""></ejs-dropdownlist></div>-->
<!--    <div fxFlex="19">营运证号：<ejs-textbox  placeholder="营运证号" ngModel=""></ejs-textbox></div>-->
<!--  </div>-->
<!--  <div fxLayout="row" fxLayoutAlign="space-between center" class="margin_t_10">-->
<!--    <div fxFlex="19">养路票号：<ejs-textbox  placeholder="养路票号" ngModel="" ></ejs-textbox></div>-->
<!--    <div fxFlex="19">保险单号：<ejs-textbox  placeholder="保险单号" ngModel="" ></ejs-textbox></div>-->
<!--    <div fxFlex="19">保险到期时间：<ejs-datetimepicker  format='yyyy-MM-dd HH:mm' ngModel="" ></ejs-datetimepicker></div>-->
<!--    <div fxFlex="19">年检到期时间：<ejs-datetimepicker format='yyyy-MM-dd HH:mm' ngModel=""></ejs-datetimepicker></div>-->
<!--    <div fxFlex="19">承保单位：<ejs-textbox  placeholder="承保单位" ngModel=""></ejs-textbox></div>-->
<!--  </div>-->
<!--  <div fxLayout="row" fxLayoutAlign="space-between center" class="margin_t_10">-->
<!--    <div fxFlex="100">备注：<ejs-textbox  placeholder="备注" ngModel="" ></ejs-textbox></div>-->
<!--  </div>-->
<!--</div>-->
<!--<div class="bendbox">-->
<!--  <div class="serttits"><i class="fas fa-car"></i>车主信息</div>-->
<!--  <div fxLayout="row" fxLayoutAlign="space-between center" class="margin_t_10">-->
<!--    <div fxFlex="19">车属单位：<ejs-textbox  placeholder="车属单位" ngModel="" ></ejs-textbox></div>-->
<!--    <div fxFlex="19">电话：<ejs-textbox  placeholder="电话" ngModel="" ></ejs-textbox></div>-->
<!--    <div fxFlex="59.5">地址：<ejs-textbox  placeholder="地址" ngModel="" ></ejs-textbox></div>-->
<!--  </div>-->
<!--  <div fxLayout="row" fxLayoutAlign="space-between center" class="margin_t_10">-->
<!--    <div fxFlex="19">车主：<ejs-textbox  placeholder="车主" ngModel="" ></ejs-textbox></div>-->
<!--    <div fxFlex="19">手机号：<ejs-textbox  placeholder="手机号" ngModel="" ></ejs-textbox></div>-->
<!--    <div fxFlex="19">身份证号：<ejs-textbox  placeholder="身份证号" ngModel="" ></ejs-textbox></div>-->
<!--    <div fxFlex="19">司机：<ejs-textbox  placeholder="司机" ngModel="" ></ejs-textbox></div>-->
<!--    <div fxFlex="19">手机号：<ejs-textbox  placeholder="手机号" ngModel="" ></ejs-textbox></div>-->
<!--  </div>-->
<!--  <div fxLayout="row" fxLayoutAlign="space-between center" class="margin_t_10">-->
<!--    <div fxFlex="19">身份证号：<ejs-textbox  placeholder="身份证号" ngModel="" ></ejs-textbox></div>-->
<!--    <div fxFlex="19">驾驶证号：<ejs-textbox  placeholder="驾驶证号" ngModel="" ></ejs-textbox></div>-->
<!--    <div fxFlex="59.5">司机住址：<ejs-textbox  placeholder="司机住址" ngModel="" ></ejs-textbox></div>-->
<!--  </div>-->
<!--</div>-->
<!--<div class="bendbox margin-b-10">-->
<!--  <div class="serttits"><i class="fas fa-file-upload"></i>照片信息</div>-->
<!--  <div class="form-group" fxLayout="row" fxLayoutAlign="space-between center" >-->
<!--    <div fxFlex="15" class="upload-box box">-->
<!--      <input type="file" name="file-5[]" id="file-1" class="inputfile inputfile-1" data-multiple-caption="{count} files selected" multiple />-->
<!--      <label for="file-1"><figure><i class="fas fa-upload"></i></figure> <span>行驶证照片</span></label>-->
<!--    </div>-->
<!--    <div fxFlex="15" class="upload-box box">-->
<!--      <input type="file" name="file-5[]" id="file-2" class="inputfile inputfile-4" data-multiple-caption="{count} files selected" multiple />-->
<!--      <label for="file-2"><figure><i class="fas fa-upload"></i></figure> <span>运营证照片</span></label>-->
<!--    </div>-->
<!--    <div fxFlex="15" class="upload-box box">-->
<!--      <input type="file" name="file-5[]" id="file-3" class="inputfile inputfile-4" data-multiple-caption="{count} files selected" multiple />-->
<!--      <label for="file-3"><figure><i class="fas fa-upload"></i></figure> <span>车辆照片</span></label>-->
<!--    </div>-->
<!--    <div fxFlex="15" class="upload-box box">-->
<!--      <input type="file" name="file-5[]" id="file-4" class="inputfile inputfile-4" data-multiple-caption="{count} files selected" multiple />-->
<!--      <label for="file-4"><figure><i class="fas fa-upload"></i></figure> <span>道路运输证照片</span></label>-->
<!--    </div>-->
<!--    <div fxFlex="15" class="upload-box box">-->
<!--      <input type="file" name="file-5[]" id="file-5" class="inputfile inputfile-4" data-multiple-caption="{count} files selected" multiple />-->
<!--      <label for="file-5"><figure><i class="fas fa-upload"></i></figure> <span>人车合影照片</span></label>-->
<!--    </div>-->
<!--    <div fxFlex="15" class="upload-box box">-->
<!--      <input type="file" name="file-5[]" id="file-6" class="inputfile inputfile-4" data-multiple-caption="{count} files selected" multiple />-->
<!--      <label for="file-6"><figure><i class="fas fa-upload"></i></figure> <span>保险卡照片</span></label>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
