<div class="contentbox-new">
  <div class="contentit-l-new">
    <div class="contennews">
      <b>客户结算</b>
      <span><i class="fas fa-home"></i><a [routerLink]="['/biz/home']" > 主页</a></span> ·
      <span>财务结算</span>  <span>客户结算</span>
    </div>
  </div>
  <div class="contenttex-r-new"></div>
</div>
<form class="listfrom-new2"  [formGroup]="searchp" >
  <div fxLayout="row" fxLayoutAlign="space-between flex-end">
    <div fxFlex="27" style="margin-right:10px">
      <mat-form-field class="comwidth">
        <input matInput placeholder="费用编号" formControlName="SettleId">
      </mat-form-field>
    </div>
    <div fxFlex="24" style="padding-bottom:19px">
      <button ejs-button cssClass="e-info mat-width" (click)="searching()">查询</button>
<!--      <ng-container *ngIf="SelectTabIndex==0">-->
<!--        <button ejs-button cssClass="e-info mat-width mat-green" (click)="processorder('接单操作','接单成功','Accept')">批量接单</button>-->
<!--      </ng-container>-->
<!--      <ng-container *ngIf="SelectTabIndex==1"></ng-container>-->

      <div [style.display]="SelectTabIndex!==0?'none':'block'">
        <button ejs-button cssClass="e-info mat-width mat-green" (click)="processorder('接单操作','接单成功','Accept')">批量接单</button>
      </div>
      <div [style.display]="SelectTabIndex!==1?'none':'block'">
        <button ejs-button cssClass="e-info mat-width mat-green" (click)="openinvoicedialog()">应收开票</button>
        <button ejs-button cssClass="e-info mat-width mat-green" (click)="processorder('开票操作','开票成功','Invoiceed')">开票完成</button>
      </div>
      <div [style.display]="SelectTabIndex!==2?'none':'block'">
        <button ejs-button cssClass="e-info mat-width mat-green" (click)="processorder('冲销操作','冲销成功','Settled')">批量冲帐</button>
      </div>

    </div>
    <div fxFlex="24"></div>
  </div>
</form>
<div class="databoxs">

  <mat-tab-group  class="tabbox-new2" #tabgroup  color="warn" dynamicHeight="false" disableRipple="true"  [(selectedIndex)]="SelectTabIndex">
    <mat-tab label="未接单">
      <app-order-settle-data-grid #noacceptgrid [gridheight]="gridheight"></app-order-settle-data-grid>
    </mat-tab>
    <mat-tab label="财务开票">
      <app-order-settle-data-grid #openinvoicegrid [gridheight]="gridheight"></app-order-settle-data-grid>
    </mat-tab>
    <mat-tab label="财务冲销">
      <app-order-settle-data-grid #readytofinishgrid [gridheight]="gridheight"></app-order-settle-data-grid>
    </mat-tab>

  </mat-tab-group>




</div>



