<div class="contentbox-new">
  <div class="contentit-l-new">
    <div class="contennews">
      <b>网点列表</b>
      <span><i class="fas fa-home"></i><a [routerLink]="['/biz/home']" > 主页</a></span> ·
      <span>基础资料</span> ·
      <span>网点列表</span>
    </div>
  </div>
  <div class="contenttex-r-new">
    <button ejs-button cssClass="e-outline mat-auto" [routerLink]="['/biz/base/stores/create']"><i class="fas fa-plus-square"></i> 创建</button>
  </div>
</div>
<form class="listfrom-new2" [formGroup]="searchp" >
  <div fxLayout="row" fxLayoutAlign="space-between center" class="margin_t_10">
    <div fxFlex="24">
      <mat-form-field class="comwidth">
        <input placeholder="网点名称" matInput formControlName="SearchText" />
      </mat-form-field>
    </div>
    <div fxFlex="24">
      <button ejs-button cssClass="e-info mat-width" (click)="searching()">查询</button>
    </div>
    <div fxFlex="24">
    </div>
    <div fxFlex="24">
    </div>
  </div>
</form>

<ejs-grid #grid  allowResizing= 'true' height="{{gridheight}}"
          (dataStateChange)="dataStateChange($event)"
          [allowExcelExport]='true'  allowSorting='false'
          [allowSelection]="true"
          [enableHover]="false"
          allowPaging='false'  class="tabbox-new">
  <e-columns >
    <e-column field='StoreId'  headerText='编号' isPrimaryKey='true' width='110'>
      <ng-template #template let-data>
        <a routerLink="/biz/base/stores/detail/{{data.StoreId}}">{{data.StoreId}}</a>
      </ng-template>
    </e-column>
    <e-column field='StoreName' headerText='名称'  width=150></e-column>
    <e-column field='StoreTypeId' headerText='网点类别'  width=120></e-column>
    <e-column field='BranchLevel' headerText='网点级别'  width=120></e-column>
    <e-column field='StoreArea' headerText='所在区域' textAlign="left"  width='140'></e-column>
    <e-column field='LinkMan' headerText='联系人' textAlign="left"  width='100'></e-column>
    <e-column field='LinkTel' headerText='联系电话'  textAlign="left" width=150></e-column>
  </e-columns>
</ejs-grid>




