<div class="contentbox">
  <div class="contentit-l">
    <mat-card-title>转运外包汇总查询</mat-card-title>
    <mat-card-subtitle><b>| 当前位置</b></mat-card-subtitle>
  </div>
  <div class="contenttex-r">

  </div>
</div>
<form class="listfrom" [formGroup]="searchp" >
  <mat-form-field class="col-md-3">
    <label>
      <input matInput  formControlName="OrderTrackServerId" />
    </label>
    <span  matPrefix style="color: #888">物流单号：&nbsp;</span>
  </mat-form-field>

  <mat-form-field class="col-md-3">
    <label>
      <input matInput  formControlName="TrincName" />
    </label>
    <span  matPrefix style="color: #888">承运商名称：&nbsp;</span>
  </mat-form-field>

  <mat-form-field class="col-md-3">

    <select matNativeControl  formControlName="PlanStatuedId">
      <option label="--状态选择 --"></option>
      <option value="10">已安排</option>
      <option value="20">任务中</option>
      <option value="30">已完成</option>
    </select>
    <span  matPrefix style="color: #888">任务状态：&nbsp;</span>
  </mat-form-field>

  <button ejs-button cssClass="e-info mat-width" (click)="searching()" style="width:90px!important;">查询</button>
</form>

<ejs-grid #grid  allowResizing= 'true' height="{{gridheight}}"
          (dataStateChange)="dataStateChange($event)"
          [allowExcelExport]='true'  allowSorting='false'
          [allowSelection]="true"
          [enableHover]="false"
          allowPaging='true'  class="contlistbox">
  <e-columns >


    <e-column field='ShipmentGroupId'  headerText='派车单号'  width='210'>
      <ng-template #template let-data>
        <a [routerLink]="['/biz/shipment/outside-shipment-detail', data.ShipmentGroupId]">{{data.ShipmentGroupId }} </a>

      </ng-template>

    </e-column>

    <e-column  headerText='物流单号'  width='165'>
      <ng-template #template let-data>
        <a   href="javascript:void(0);" appModalPage [modal]="'SimpleorderdetailComponent'"  [modal-data]="data.OrderLogisticDetailId">{{data.OrderTrackServerId}}</a>
      </ng-template>

    </e-column>



    <e-column field='TrincName'  headerText='委派承运商'  width='200'></e-column>



    <e-column field='CarryingToolName'  headerText='车牌号'  width='155'></e-column>


    <e-column field='ActionStoreName'  headerText='操作网点'  width='155'></e-column>


    <e-column field='PlanStatuedId'  headerText='状态'  width='125'></e-column>


    <e-column field='PlanOrderItemCount'  headerText='发运数量'  width='125'></e-column>


    <e-column field='DesctcustomName'  headerText='到货客户'  width='135'></e-column>

    <e-column field='DestCity'  headerText='到货城市'  width='165'></e-column>

    <e-column field='Destarea'  headerText='到货区域'  width='165'></e-column>

    <e-column field='DestLinkman'  headerText='到货联系'  width='165'></e-column>


    <e-column field='CreateDatetime'  headerText='订单创建时间'  width='165'></e-column>


    <e-column field='FinishDatetime'  headerText='任务完成时间'  width='165'></e-column>
  </e-columns>
</ejs-grid>
