.contentbox-new {padding:10px 10px 10px 10px;wdith:100%;height:auto;clear:both;overflow:hidden;background:#fff;border-bottom:1px #e1e1e1 solid}
.contentit-l-new {width:40%;height:auto;float: left;}
.contenttex-r-new {width:60%;height:auto;float: right;}
.contentit-l-new div {width:100%;height:auto;margin-top:0px;font-size:16px;color:#666}
.contentit-l-new a {color:#666;text-decoration: none}
.contentit-l-new a:hover {color:#111;text-decoration:none;cursor:pointer}
.contenttex-r-new button {margin-left:10px;margin-top:-5px;float:right}
.tabbox-new {width:98.3%;height:auto!important;overflow:hidden;margin:5px 10px 0 10px!important;background:none;}
.contennews b{font-size:18px;color:#000;margin-right: 10px;font-weight: normal}
.contennews span {font-size:13px;color:#666;font-weight: normal}
.contennews span a  {font-size:13px;color:#666;font-weight: normal}
.contennews span i {color:#888}
.bendbox {margin:10px 10px 0px 10px;width:auto;padding:10px 10px 5px 10px;background:#fff;}
.listfrom button {margin-right:15px}
.mat-form-field {margin-right:15px}
.sourcelength {height:32px;line-height:32px;float:right;border:1px #e1e1e1 solid;margin-top:13px;width:auto;display:block;padding:0 10px;font-size:14px;color:#666}
.sourcelength b {color:#e21641}
.tihuobtn {text-align:center}
.grodebtn {width:100%;height:auto;text-align:right;border-bottom:1px #eee solid;padding-bottom:12px;margin-bottom:15px}
.grodebtn button {margin-right:10px}
.margin_t_10 {margin-top:10px}
.totalbox {width:100%;height:auto;padding:10px 0 5px 0;background:#fff;border-top:1px #ccc dashed;margin-top:10px}
.totalbox span {margin:0 10px;color:#666}
.totalbox span b {font-weight: normal;color:#e21641}
