

<!--<form [formGroup]="saveform">-->

<mat-form-field style="margin-left:0;color:#666;width:100%!important;">
  <mat-select (selectionChange)="change($event)" [(value)]="selected" [disabled]="disableSelect" style="width:100%" placeholder="{{displaylabel}}：">
    <mat-option *ngFor="let store of logistticstores" [value]="store.StoreId">
      {{store.StoreName}}
    </mat-option>
  </mat-select>
  <mat-error >请选择{{displaylabel}}</mat-error>
</mat-form-field>



<!--  <mat-form-field class="{{matformclass}}">-->
<!--    <label>-->
<!--      <mat-select  placeholder="{{placeholder}}"  >-->
<!--        <mat-option value="{{store.StoreId}}" *ngFor="let store of logistticstores;">{{store.StoreName}}</mat-option>-->
<!--      </mat-select>-->
<!--    </label>-->
<!--    <span  matPrefix style="color: #888">{{displaylabel}}：&nbsp;</span>-->
<!--  </mat-form-field>-->

<!--</form>-->
