<div class="contentbox-new">
  <div class="contentit-l-new">
    <div class="contennews">
      <b>派车单</b>
      <span><i class="fas fa-home"></i><a [routerLink]="['/biz/home']" > 主页</a></span> ·
      <ng-container  [ngSwitch]="inputtasktype">

        <ng-container *ngSwitchCase="'benditihuoclist'"><span ><a [routerLink]="['/biz/shipment/benditihuoclist']" >小车提货</a></span> ·</ng-container>
        <ng-container *ngSwitchCase="'songhuo'"><span><a [routerLink]="['/biz/shipment/songhuo']" >同城配送</a></span> ·</ng-container>
        <ng-container *ngSwitchCase="'transfer'"><span><a [routerLink]="['/biz/shipment/transfer']" >干线运输</a></span> ·</ng-container>

      </ng-container>

      <span>派车新增</span>
    </div>
  </div>
  <div class="contenttex-r-new">
    <button  ejs-button cssClass="e-outline mat-auto"  (click)="savedata()"><i class="fas fa-save"></i> 保存</button>
    <ejs-tooltip #tooltip content='将会直接推送订单到司机终端中'  position="BottomCenter"
                 style="padding-left:0!important;padding-right:0!important;">
      <button style="margin-left:15px;" disabled="true"  ejs-button cssClass="e-outline mat-auto"  (click)="savedata()"><i class="fas fa-paper-plane"></i> 保存&发运</button>
    </ejs-tooltip>
  </div>
</div>
<div class="bendbox">
  <form [formGroup]="saveform">

    <app-shipmentplan-insert-headitem [saveform]="saveform" [tasktype]="inputtasktype"></app-shipmentplan-insert-headitem>

    <app-shipment-logisticprice [saveform]="saveform"  [UseVehicelContainerId]=false usercheckId="CarringToolId"></app-shipment-logisticprice>
    <!--<app-shipmentplan-insert-sendcarfeedetailinsert></app-shipmentplan-insert-sendcarfeedetailinsert>-->
    <app-shipmentplan-insert-logisticitems [showaddbtn]="false" [showdelbtn]="false" [showspliter]="false"></app-shipmentplan-insert-logisticitems>


  </form>

</div>
