<div class="itemsbtn">
<button ejs-button cssClass="e-info mat-width" class="mat-green" (click)="reload()" *ngIf="showaddbtn" >添单</button>
<button ejs-button cssClass="e-info mat-width" class="mat-reject" *ngIf="showdelbtn">删单</button>
<button ejs-button cssClass="e-info mat-width" class="mat-deepblue" *ngIf="showspliter">拆单</button>
</div>
<div>
  <ejs-grid height="{{gridheight}}" #logitsticitemgrid  [editSettings]='editSettings'  allowPaging="true">
    <e-columns>
      <e-column field='SquenceId' headerText='序号' width='70'></e-column>
      <e-column field='TrackServerId' headerText='物流单号' width='160'></e-column>
      <e-column  field='OrigincustomLinkman' headerText='发货联系人' width='120' textAlign='Right'></e-column>
      <e-column field='DestLinkman' headerText=' 收货联系人' width='120' textAlign='Right'></e-column>
      <e-column field='ActionStoreName' headerText='当前站点' width='150' textAlign='Right'></e-column>
      <e-column field='NextStoreName' headerText='下一站' width='150' textAlign='Right'></e-column>
      <e-column field='NextArea' headerText='到货城区' width='150' textAlign='Right'></e-column>
      <e-column field='LogisticFee' headerText='费用' width='120' textAlign='Right'></e-column>
      <e-column field='PlanOrderItemCount' headerText='装车件数' width='120' textAlign='Right'></e-column>
      <e-column field='PlanOrderItemWeightForTon' format="N3" headerText='装车重量(T)' width='120' textAlign='Right'></e-column>
      <e-column field='PlanOrderItemVolForcubicmeter' format="N3"  headerText='装车体积(M3)' width='120' textAlign='Right'></e-column>
    </e-columns>
  </ejs-grid>

<!--  <table mat-table [dataSource]="DataSource" class="mat-elevation-z8">-->

<!--    &lt;!&ndash;- Note that these columns can be defined in any order.-->
<!--          The actual rendered columns are set as a property on the row definition" &ndash;&gt;-->

<!--    &lt;!&ndash; Position Column &ndash;&gt;-->
<!--    <ng-container matColumnDef="TrackServerId">-->
<!--      <th mat-header-cell *matHeaderCellDef> No. </th>-->
<!--      <td mat-cell *matCellDef="let element"> {{element.TrackServerId}} </td>-->
<!--    </ng-container>-->

<!--    &lt;!&ndash; Name Column &ndash;&gt;-->
<!--    <ng-container matColumnDef="OrigincustomLinkman">-->
<!--      <th mat-header-cell *matHeaderCellDef> OrigincustomLinkman </th>-->
<!--      <td mat-cell *matCellDef="let element"> {{element.OrigincustomLinkman}} </td>-->
<!--    </ng-container>-->

<!--    &lt;!&ndash; Weight Column &ndash;&gt;-->
<!--    <ng-container matColumnDef="DestLinkman">-->
<!--      <th mat-header-cell *matHeaderCellDef> DestLinkman </th>-->
<!--      <td mat-cell *matCellDef="let element"> {{element.DestLinkman}} </td>-->
<!--    </ng-container>-->

<!--    &lt;!&ndash; Symbol Column &ndash;&gt;-->
<!--    <ng-container matColumnDef="ActionStoreName">-->
<!--      <th mat-header-cell *matHeaderCellDef> ActionStoreName </th>-->
<!--      <td mat-cell *matCellDef="let element"> {{element.ActionStoreName}} </td>-->
<!--    </ng-container>-->

<!--    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>-->
<!--    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>-->
<!--  </table>-->
</div>
<!--序号  物流单号 发货客户/联系人 收货客户/联系人 始发站 下一站 到货城区 装车件数 装车重量-->
<!--装车体积-->
