<div class="contentbox-new">
  <div class="contentit-l-new">
    <div class="contennews">
      <b>费用记录</b>
      <span><i class="fas fa-home"></i><a [routerLink]="['/biz/home']" > 主页</a></span> ·
      <span>日常记账</span> ·
      <span>费用记账/费用记录</span>
    </div>
  </div>
  <div class="contenttex-r-new">
    <button ejs-button cssClass="e-outline mat-auto" (click)="savedata()"><i class="fas fa-save"></i> 保存</button>
  </div>
</div>
<div class="fn-box">
<form id="customerid" [formGroup]="form" >
  <div fxLayout="row" fxLayoutAlign="space-between flex-end">
    <div fxFlex="32">
      <mat-form-field style="width:100%">
        <input matInput placeholder="费用单号" formControlName="SettleId" readonly="true" >
      </mat-form-field>
    </div>
    <div fxFlex="32">
      <app-biz-mylogistiscstore2  style="margin-bottom:20px" [saveform]="form" formControlName="Settleorg"  displaylabel="结算网点" SettingFormControlName="Settleorg"></app-biz-mylogistiscstore2>
    </div>
    <div fxFlex="32" style="padding-bottom:16px">
      <ejs-datetimepicker format='yyyy-MM-dd HH:mm' placeholder="费用发生时间" floatLabelType="Auto" formControlName="BizHappendDateTime"></ejs-datetimepicker>
    </div>
  </div>
  <div fxLayout="row" fxLayoutAlign="space-between flex-end" style="margin-top:-5px">
    <div fxFlex="15">
      <mat-form-field style="width:95%">
        <input matInput placeholder="单据号码" formControlName="BillNo">
        <mat-hint align="start"><strong>如果有单据，填写单据号码</strong></mat-hint>
      </mat-form-field>
    </div>
    <div fxFlex="15">
      <mat-form-field style="width:100%">
        <input matInput placeholder="收/付款对象" formControlName="Chargeparty">
        <mat-error>收/付款对象是<strong>必须的</strong></mat-error>
        <mat-hint align="start">请填写<strong>收/付款对象</strong></mat-hint>
      </mat-form-field>
    </div>
    <div fxFlex="15">
      <app-biz-cacl-charge-item formControlName="ChargeItem"  displaylabel="费用项目"></app-biz-cacl-charge-item>
    </div>
    <div fxFlex="15">
      <mat-form-field style="width:100%">
        <mat-select  placeholder="计费方式"  formControlName="Methodtype">
          <mat-option value="件">件</mat-option>
          <mat-option value="重量(吨)">重量(吨)</mat-option>
          <mat-option value="体积(方)">体积(方)</mat-option>
          <mat-option value="次">次</mat-option>
        </mat-select>
        <mat-error >请选择一种计费方式</mat-error>
      </mat-form-field>
    </div>
    <div fxFlex="15" style="padding-bottom:16px" >
      <ejs-numerictextbox  formControlName="Methodcount" floatLabelType="Auto" placeholder="计费数量"
                           format="n0" decimals="3" validateDecimalOnType="true" value="1" min="1"></ejs-numerictextbox>
      <span class="e-float-line"></span>
    </div>
    <div fxFlex="15" style="padding-bottom:16px">
      <ejs-numerictextbox  formControlName="ChargeAmt" floatLabelType="Auto" placeholder="发生金额"
                           format="n3" decimals="3" validateDecimalOnType="true" [value]="form.value.ChargeAmt" min="0"></ejs-numerictextbox>
      <span class="e-float-line"></span>
    </div>
  </div>
  <div fxLayout="row" fxLayoutAlign="space-between flex-end" style="margin-top:10px">
    <div fxFlex="15">
      <mat-form-field style="width:95%">
        <mat-select   formControlName="Chargedirection" placeholder="方向">
          <mat-option value="true">收入</mat-option>
          <mat-option value="false">支出</mat-option>
        </mat-select>
        <mat-error>请选择收支方向</mat-error>
      </mat-form-field>
    </div>
    <div fxFlex="15">
      <app-biz-basedirectorycontent  displaylabel="结算方式" GroupType="CaclType" formControlName="CaclType" ></app-biz-basedirectorycontent>
    </div>
    <div fxFlex="15">
      <app-biz-basedirectorycontent  displaylabel="付款方式" GroupType="PayMoneyType" formControlName="PayMoneyType" ></app-biz-basedirectorycontent>
    </div>
    <div fxFlex="15" style="margin-bottom:16px">
      <mat-slide-toggle formControlName="IsOpenInvoice">开票资料</mat-slide-toggle>
    </div>
    <div fxFlex="15">
    </div>
    <div fxFlex="15">
    </div>
  </div>
  <div class="filebox">
    <ng-container *ngIf="form.value.IsOpenInvoice">
      <h3><i class="fas fa-file-alt"></i>开票资料</h3>
      <div fxLayout="row" fxLayoutAlign="space-between flex-end" style="margin-top:15px">
        <div fxFlex="32">
          <div fxLayout="row" fxLayoutAlign="space-between flex-end">
            <div fxFlex="88">
              <mat-form-field class="comwidth">
                <input matInput placeholder="受票方" formControlName="Invoiceparty">
              </mat-form-field>
            </div>
            <div fxFlex="10" style="margin-bottom:19px">
              <button ejs-button cssClass="e-small" appOpeninvoiceprofile (onSuggest)="getsystemprofile($event)"><i class="fas fa-search"></i></button>
            </div>
          </div>
        </div>
        <div fxFlex="32">
          <mat-form-field class="comwidth">
            <mat-select  placeholder="发票类型"  formControlName="Invoicetype">
              <mat-option value="1">增值税专用发票</mat-option>
              <mat-option value="2">普通发票</mat-option>
            </mat-select>
            <mat-error *ngIf="form.controls['Invoicetype'].hasError('required')">请选择一种发票类型</mat-error>
          </mat-form-field>
        </div>
        <div fxFlex="32">
          <mat-form-field class="comwidth">
            <input matInput placeholder="税号" formControlName="Partytaxno">
          </mat-form-field>
        </div>
      </div>
      <div fxLayout="row" fxLayoutAlign="space-between flex-end">
        <div fxFlex="32">
          <mat-form-field class="comwidth">
            <mat-select  placeholder="税率"  formControlName="Taxrate">
              <mat-option>--</mat-option>
              <mat-option value="0.09">9%</mat-option>
              <mat-option value="0.1">10%</mat-option>
            </mat-select>
            <mat-error *ngIf="form.controls['Taxrate'].hasError('required')">请选择一种税率</mat-error>
          </mat-form-field>
        </div>
        <div fxFlex="32">
          <mat-form-field class="comwidth">
            <input matInput placeholder="开票项目" formControlName="FnTrxItem">
            <mat-hint align="end">请填写开票项目，运输，仓储 等</mat-hint>
            <mat-error *ngIf="form.controls['FnTrxItem'].hasError('required')">请填写开票项目</mat-error>
          </mat-form-field>
        </div>
        <div fxFlex="32" style="margin-bottom:19px">
          <ejs-numerictextbox class="comwidth" floatLabelType="Auto" placeholder="开票金额" readonly
                                format="n3" decimals="3" validateDecimalOnType="true" [value]="form.value.ChargeAmt" min="0"></ejs-numerictextbox>
        </div>
      </div>
    </ng-container>
  </div>

</form>
</div>


