<div class="box-container">
<ng-container *ngIf="model">
  <div class="infoboxs">
    <div class="navbarbox">
      <span style="margin:0"><a [routerLink]="['/biz/home']" >主页</a></span>/<span>计费与对账</span>/<span><a  [routerLink]="['/biz/fn-order/order-settle-list']" >应收结算单</a></span>/<span>明细</span>
    </div>
    <div class="billbtnbox">
      <div class="billbox">
        <h2><i class="fas fa-clipboard-list"></i> 结算单号：{{model.SettleId}}</h2>
      </div>
      <div class="btnbox">
        <ng-container *ngIf="!model.NoCreateUserOrder">
          <button ejs-button cssClass="e-outline mat-auto" [disabled]="!useractionflag" appTmssaveconfirm comfirmMessage="确定提交财务吗？" (onSuggest)=bizclick($event) extendata="submit" ><i class="fas fa-save"></i> 提交</button>
          <button ejs-button cssClass="e-outline mat-auto" [disabled]="!useractionflag"  appTmssaveconfirm comfirmMessage="确定删除吗？" (onSuggest)=bizclick($event) extendata="del"><i class="fas fa-trash"></i> 删除</button>
          <button ejs-button cssClass="e-outline mat-auto" (click)="printfnbill()"><i class="fas fa-print"></i> 明细打印</button>
        </ng-container>
      </div>
    </div>
    <div class="infobox" fxLayout="row" fxLayoutAlign="space-between flex-end">
      <div fxFlex="70">
        <div fxLayout="row" fxLayoutAlign="space-between flex-end">
          <div fxFlex="49">
            创建人：{{model.CreateUser}}
          </div>
          <div fxFlex="49">
            结算网点：{{model.Settleorg}}
          </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="space-between flex-end">
          <div fxFlex="49">
            创建时间：{{model.CreateDateTime}}
          </div>
          <div fxFlex="49">
            单据类型：{{model.CaclType}}
          </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="space-between flex-end">
          <div fxFlex="49">
            结束时间：{{model.FinishDateTime}}
          </div>
          <div fxFlex="49">
            付款方式：{{model.Paymentmode}}
          </div>
        </div>
      </div>
      <div fxFlex="30">
        <div fxLayout="row" fxLayoutAlign="space-between flex-end">
          <div fxFlex="49">
            状态：
          </div>
          <div fxFlex="49">
            结算金额：
          </div>
        </div>
        <div class="infobox_price" fxLayout="row" fxLayoutAlign="space-between flex-start">
          <div fxFlex="49">
            <h3>{{model.ProcessStatuedDesc}}</h3>
          </div>
          <div fxFlex="49">
            <h3>￥{{model.ChargeAmt.toFixed(3)}}</h3>
          </div>
        </div>
      </div>
    </div>
    <div class="remarkbox" fxLayout="row" fxLayoutAlign="space-between flex-end">
      <div fxFlex="100">
        备注：{{model.ApplayMark}}
      </div>
    </div>
  </div>
  <div class="settletabbox">
    <mat-tab-group>
      <mat-tab label="结算详情" style="background:#fff">
        <ng-container *ngIf="model.IsOpenInvoice">
          <div class="tabinfobox">
            <h2><i class="fas fa-list-alt"></i> 开票资料</h2>
            <div fxLayout="row" fxLayoutAlign="space-between flex-end">
              <div fxFlex="32">
                <span>受票方：<b>{{model.Invoiceparty}}</b></span>
              </div>
              <div fxFlex="32">
                <span>税号：<b>{{model.Partytaxno}}</b></span>
              </div>
              <div fxFlex="32"></div>
            </div>
            <div fxLayout="row" fxLayoutAlign="space-between flex-end">
              <div fxFlex="32">
                <span>税率：<b>{{(model.Taxrate*100).toFixed(2)}}%</b></span>
              </div>
              <div fxFlex="32">
                <span>类型：<b>{{model.InvoicetypeDesc}}</b></span>
              </div>
              <div fxFlex="32">
                <span>开票项目：<b>{{model.FnTrxItem}}</b></span>
              </div>
            </div>
            <div class="billtit"><h2><i class="fas fa-stamp"></i> 费用明细</h2></div>
          </div>
        </ng-container>
        <div class="databox">
        <table mat-table [dataSource]="datasource">
        <ng-container matColumnDef="Action">
          <th mat-header-cell *matHeaderCellDef> 操作 </th>
          <td mat-cell *matCellDef="let element"><button
            mat-icon-button
            color="warn"
            type="button"
            appTmssaveconfirm
            comfirmMessage="确定删除吗？"
            (onSuggest)=itemdel($event) extendata="{{element.SettleItemId}}"
            matTooltip="删除">
            <mat-icon>delete</mat-icon>
          </button></td>
        </ng-container>
        <ng-container matColumnDef="OrderTrackServerId">
          <th mat-header-cell *matHeaderCellDef> 物流单号 </th>
          <td mat-cell *matCellDef="let element"> {{element.OrderTrackServerId}} </td>
        </ng-container>
        <ng-container matColumnDef="Origincustomname">
          <th mat-header-cell *matHeaderCellDef> 发货客户 </th>
          <td mat-cell *matCellDef="let element"> {{element.Origincustomname}} </td>
        </ng-container>
        <ng-container matColumnDef="DesctcustomName">
          <th mat-header-cell *matHeaderCellDef> 到货客户 </th>
          <td mat-cell *matCellDef="let element"> {{element.DesctcustomName}} </td>
        </ng-container>
        <ng-container matColumnDef="OriginCity">
          <th mat-header-cell *matHeaderCellDef> 发货城市 </th>
          <td mat-cell *matCellDef="let element"> {{element.OriginCity}} </td>
        </ng-container>
        <ng-container matColumnDef="DestCity">
          <th mat-header-cell *matHeaderCellDef> 到货城市 </th>
          <td mat-cell *matCellDef="let element"> {{element.DestCity}} </td>
        </ng-container>
        <ng-container matColumnDef="Chargetype">
          <th mat-header-cell *matHeaderCellDef> 计费事务 </th>
          <td mat-cell *matCellDef="let element"> {{element.Chargetype}} </td>
        </ng-container>
        <ng-container matColumnDef="Chargeitem">
          <th mat-header-cell *matHeaderCellDef> 费用名称 </th>
          <td mat-cell *matCellDef="let element"> {{element.Chargeitem}} </td>
        </ng-container>
        <ng-container matColumnDef="Innertype">
          <th mat-header-cell *matHeaderCellDef> 费用类型 </th>
          <td mat-cell *matCellDef="let element"> {{element.Innertype}} </td>
        </ng-container>
        <ng-container matColumnDef="Direction">
          <th mat-header-cell *matHeaderCellDef> 费用方向 </th>
          <td mat-cell *matCellDef="let element"> {{element.Direction}} </td>
        </ng-container>
        <ng-container matColumnDef="ApplayAmt">
          <th mat-header-cell *matHeaderCellDef> 结算金额 </th>
          <td mat-cell *matCellDef="let element"> {{element.ApplayAmt}} </td>
        </ng-container>
        <ng-container matColumnDef="FeeHappendTime">
          <th mat-header-cell *matHeaderCellDef> 费用时间 </th>
          <td mat-cell *matCellDef="let element"> {{element.FeeHappendTime}} </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;">
        </tr>
      </table>
      </div>
      </mat-tab>
      <mat-tab label="Excel导入">
      <app-order-excel-analysis [SettleId]="model.SettleId"  (onAttchFinished)="attchfinished()" (onItemAttchSucceed)="attchsucceed($event)"></app-order-excel-analysis>
      </mat-tab>
    </mat-tab-group>
  </div>
  </ng-container>
</div>
