<form class="listfrom-new2"  [formGroup]="searchp" >
  <div fxLayout="row" fxLayoutAlign="space-between center" class="margin_t_10">
    <div fxFlex="20">
      <mat-form-field style="width:100%;font-size:14px!important">
          <input matInput placeholder="物流单号" formControlName="OrderTrackServerId" />
      </mat-form-field>
    </div>
    <div fxFlex="20">
      <mat-form-field style="width:100%;font-size:14px!important">
          <input matInput  placeholder="到货城市" formControlName="DestCity" />
      </mat-form-field>
    </div>
    <div fxFlex="20">
      <app-biz-mylogistiscstore2  [saveform]="searchp"   SettingFormControlName="BeginLogisticStoreId" displaylabel="配载网点" style="width:100%;font-size:14px!important" ></app-biz-mylogistiscstore2>
    </div>
    <div fxFlex="35" style="padding-bottom:10px">
      <button ejs-button cssClass="e-info mat-width" (click)="searching(null)">查询</button>

      <ng-container *ngIf="GroupSubItemType!='localtihuo'">
        <button ejs-button cssClass="e-info mat-width" class="mat-green"  style="width:auto!important;" (click)="opentihuo()" >新增派车单</button>
      </ng-container>
      <ng-container *ngIf="GroupSubItemType=='localtihuo'">
        <button ejs-button cssClass="e-info mat-width"  class="mat-green" (click)="opentihuo2('localtihuo')" [disabled]="grid.getSelectedRecords().length<=0">新增提货单</button>
        <!--    <button ejs-button cssClass="e-info mat-width" (click)="opentihuo2('sendnoreturn')"  [disabled]="grid.getSelectedRecords().length<=0">直提直发</button>-->
      </ng-container>
      <span class="sourcelength">已选择 <b>{{grid.getSelectedRecords().length}}</b> 条数据</span>
    </div>
  </div>
  <!--  <mat-form-field class="col-md-3 col-lefty" [hidden]="true">-->
<!--    <label>-->
<!--      <select matNativeControl  formControlName="PlanStatuedId" readonly="readonly">-->
<!--        <option label="未安排"></option>-->
<!--        <option value="10">已安排</option>-->
<!--        <option value="20">任务中</option>-->
<!--        <option value="30">已完成</option>-->
<!--      </select>-->
<!--    </label>-->
<!--    <span  matPrefix style="color: #888">任务状态：&nbsp;</span>-->
<!--  </mat-form-field>-->
<!--  <button ejs-button cssClass="e-info" (click)="attchitem('400px','600px')">添加运单</button>-->


</form>

<ejs-grid #grid
          height="{{gridheight}}"
          (dataStateChange)="dataStateChange($event)"
          [allowTextWrap]="false"
          [allowExcelExport]='true'
          [allowSorting]='true'
          [pageSettings]="pageSettings"
          [sortSettings]='initialSort'
          [allowResizing]= 'true'
          allowReordering="true"
          allowPaging='true'
          class="tabbox-new">
  <e-columns >


    <e-column type='checkbox' width='50'></e-column>

    <e-column field='ShipmentId'  headerText='网点物流编号'  [visible]='false'  isPrimaryKey='true' width='165'></e-column>

    <e-column field='SystemOrderId'  headerText='订单编号'  [visible]='false'  width='165'></e-column>


    <e-column headerText='物流单号'  width='185'>
      <ng-template #template let-data>
        <span>
           <span class="fontblue">{{data.OrderTrackServerId }} </span>
           <button ejs-button class="tabbtn e-nones" appModalPage [modal]="'SimpleorderdetailComponent'"  [modal-data]="data.OrderLogisticDetailId"><i class="fas fa-file"></i></button>
        </span>
<!--        <a  appModalPage [modal]="'SimpleorderdetailComponent'"  [modal-data]="data.OrderLogisticDetailId">{{data.OrderTrackServerId}}</a>-->
      </ng-template>
    </e-column>

    <e-column field='OrderCommand'  headerText='任务类型'  width='100'></e-column>
    <!--        <e-column field='ShipmentGroupId'  headerText='派车单号'  width='165'></e-column>-->


<!--    <e-column field='Origincustomname'  headerText='发货客户'  width='165'></e-column>-->


<!--    <e-column field='OrigincustomLinkman'  headerText='发货联系人'  width='165'></e-column>-->


<!--    <e-column field='Origintel'  headerText='发货联系电话'  width='165'></e-column>-->


    <e-column field='Originarea'  headerText='发货区域'  width='165'></e-column>


<!--    <e-column field='OriginAddress'  headerText='发货地址'  width='165'></e-column>-->

    <e-column field='DestCity'  headerText='到货城市'  width='165'></e-column>


    <e-column field='EndStoreName'  headerText='转运网点'  width='165'></e-column>

    <e-column field='StoreOrderCount'  headerText='运单件数'  width='100'></e-column>
    <e-column field='AlreadySendOrderCount'  headerText='已发运(件)'  width='100'></e-column>

    <e-column field='StoreOrderZhWeight'  headerText='重货(吨)'  width='100'>
      <ng-template #template let-data>
        {{data.StoreOrderZhWeight | tmsweightconvert :'g'}}
      </ng-template>
    </e-column>
    <e-column field='StoreOrderPhVolume'  headerText='抛货(方)'  width='100'>
      <ng-template #template let-data>
        {{data.StoreOrderPhVolume | tmsvolumeconvert :'cm'}}
      </ng-template>
    </e-column>



    <e-column field='DesctcustomName'  headerText='到货客户'  width='165'></e-column>

    <e-column field='DestLinkman'  headerText='到货联系'  width='165'></e-column>



    <e-column field='DestAddress'  headerText='到货地址'  width='165'></e-column>

    <e-column field='BeginLogisticStoreId' [visible]='false' headerText='接单网点编号'  width='165'></e-column>


    <e-column field='BeginLogisticStoreName' [visible]='false' headerText='接单网点'  width='165'></e-column>





<!--    <e-column field='PlanStatuedId'  headerText='提货状态'  width='165'></e-column>-->


    <e-column field='CreateDateTime'  headerText='下达时间'  width='165'></e-column>



  </e-columns>
</ejs-grid>
