
<!--<ejs-grid #grid  allowResizing= 'true' height="{{gridheight}}"-->
<!--          (dataStateChange)="dataStateChange($event)"-->
<!--          [allowExcelExport]='true'-->
<!--          [allowSelection]="true"-->
<!--          [enableHover]="false"-->
<!--          [allowSorting]='true'-->
<!--          [pageSettings]="pageSettings"-->
<!--          [sortSettings]='initialSort'-->
<!--          enablePersistence="true"-->
<!--          allowPaging='true'  class="contlistbox">-->
  <ejs-grid #grid  height="{{gridheight}}"
            (dataStateChange)="dataStateChange($event)"
            [allowExcelExport]='true'
            [allowResizing]= 'true'
            [allowSorting]='true'
            [pageSettings]="pageSettings"
            [sortSettings]='initialSort'
            allowReordering="true"
            allowPaging='true'  class="contlistbox">
  <e-columns >

    <e-column type='checkbox' width='50'></e-column>
    <e-column   field='CustomerOrderId' headerText='客户单号'  width='140'>
      <ng-template #template let-data>
        <ejs-tooltip #tooltip position="RightBottom">
          <a [routerLink]="['/biz/myorder/enterprise-order-detail', data.OrderPreparedLogisticId]">{{data.CustomerOrderId }} </a>

          <ng-template #content>
            <div style="font-size: 12px;text-indent: each-line;">
              {{data.OrderSendMark}}
            </div>

          </ng-template>
          <!-- Button element -->

          <!--              <button ejs-button>备注</button>-->
        </ejs-tooltip>

        <button ejs-button class="tabbtn" cssClass="e-nones" (click)="choecustomer($event,data.OrderPreparedLogisticId,'50em','50em')"><i class="fas fa-file"></i></button>
      </ng-template>
    </e-column>

    <!--    <e-column field='OrderPreparedLogisticId'  [hidden]="true" ></e-column>-->

        <e-column field='OrigincustomPhysicalDeotName' headerText='提货仓库'  width=170></e-column>
        <e-column field='DesctcustomName' headerText='到货客户'  width='200'></e-column>
        <e-column field='DestCity' headerText='到货城市'  width=100></e-column>
        <e-column field='Destarea' headerText='到货区域'  width=120></e-column>
        <e-column field='TotalCount' headerText='件数' textAlign="left"  width='100'></e-column>
        <e-column field='NotifyCarNumber' headerText='提货车号' textAlign="left"  width=100></e-column>

        <e-column field='TotalWeight' headerText='总吨位' textAlign="left"  width='100'>
        </e-column>
        <e-column field='TotalVolume' headerText='总方数' textAlign="left"  width='100'>
        </e-column>

        <e-column field='OrderZhWeight' headerText='重货吨' textAlign="left"  width='100'>
        </e-column>

        <e-column field='OrderZhVol' headerText='重货方' textAlign="left"  width='100'>
        </e-column>

        <e-column field='OrderPhWeight' headerText='泡货吨'  textAlign="left" width='100'>
        </e-column>

        <e-column field='OrderPhVol' headerText='泡货方'  textAlign="left" width='100'>
       </e-column>

        <e-column field='TotalAmount' headerText='运费'  textAlign="left" width='100'></e-column>

        <e-column field='OrderSendMark' headerText='订单备注' textAlign="left"  width='300'></e-column>
        <e-column field='StoreName' headerText='预分配网点' textAlign="left"  width=130></e-column>
        <e-column field='OrderInputCreateDatetime' headerText='下单时间' textAlign="left"  width=170></e-column>
        <e-column field='CreateDateTime' headerText='通知时间' textAlign="left"  width=170></e-column>
        <e-column field='ConfirmDateTime' headerText='接单时间'  width=170></e-column>
  </e-columns>
</ejs-grid>

<!--<ejs-grid #grid  allowResizing= 'true' height="{{gridheight}}"-->
<!--          (dataStateChange)="dataStateChange($event)"-->
<!--          [allowExcelExport]='true'-->
<!--          [allowSelection]="true"-->
<!--          [enableHover]="false"-->
<!--          [allowSorting]='true'-->
<!--          [pageSettings]="pageSettings"-->
<!--          [sortSettings]='initialSort'-->
<!--          enablePersistence="true"-->
<!--          allowPaging='true'  class="contlistbox">-->
<!--  <e-columns >-->

<!--    <e-column type='checkbox' width='50'></e-column>-->
<!--    <e-column   headerText='客户单号'  width='200'>-->
<!--      <ng-template #template let-data>-->
<!--        <a [routerLink]="['/biz/myorder/enterprise-order-detail', data.OrderPreparedLogisticId]">{{data.CustomerOrderId }} </a>-->
<!--        <button ejs-button class="tabbtn" cssClass="e-outline" (click)="choecustomer($event,data.OrderPreparedLogisticId,'50em','50em')"><i class="fas fa-search"></i></button>-->
<!--      </ng-template>-->
<!--    </e-column>-->
<!--&lt;!&ndash;    <e-column field='OrderPreparedLogisticId'  [hidden]="true" ></e-column>&ndash;&gt;-->

<!--    <e-column field='OrigincustomPhysicalDeotName' headerText='提货仓库'  width=170></e-column>-->
<!--    <e-column field='DesctcustomName' headerText='到货客户'  width=110></e-column>-->
<!--    <e-column field='DestCity' headerText='到货城市'  width=110></e-column>-->
<!--    <e-column field='Destarea' headerText='到货区域'  width=120></e-column>-->
<!--    <e-column field='TotalCount' headerText='件数' textAlign="left"  width='110'></e-column>-->
<!--    <e-column field='NotifyCarNumber' headerText='提货车号' textAlign="left"  width=130></e-column>-->
<!--    <e-column field='OrderZhWeight' headerText='重货吨' textAlign="left"  width='120'>-->
<!--      <ng-template #template let-data>-->
<!--        {{data.OrderZhWeight | tmsweightconvert :'g'}}-->
<!--      </ng-template>-->
<!--    </e-column>-->
<!--    <e-column field='OrderPhVol' headerText='泡货方'  textAlign="left" width='150'>-->
<!--      <ng-template #template let-data>-->
<!--        {{data.OrderPhVol | tmsvolumeconvert :'cm'}}-->
<!--      </ng-template>-->
<!--    </e-column>-->
<!--    <e-column field='TotalAmount' headerText='运费'  textAlign="left" width='120'></e-column>-->

<!--    <e-column field='StoreName' headerText='预分配网点' textAlign="left"  width=130></e-column>-->


<!--    <e-column field='CreateDateTime' headerText='通知时间' textAlign="left"  width=170></e-column>-->
<!--    <e-column field='ConfirmDateTime' headerText='接单时间'  width=170></e-column>-->
<!--  </e-columns>-->
<!--</ejs-grid>-->
