<div class="contentbox-new">
  <div class="contentit-l-new">
    <div class="contennews">
      <b>运输商资料</b>
      <span><i class="fas fa-home"></i><a [routerLink]="['/biz/home']" > 主页</a></span> ·
      <span>基础资料</span> ·
      <span>运输商资料</span>
    </div>
  </div>
  <div class="contenttex-r-new">
    <button ejs-button cssClass="e-outline mat-auto" [routerLink]="['/biz/carriers-management/carriers-insert']"><i class="fas fa-plus-square"></i> 添加外部承运商</button>
  </div>
</div>
<form class="listfrom-new2" [formGroup]="searchp" >
  <div fxLayout="row" fxLayoutAlign="space-between center" class="margin_t_10">
    <div fxFlex="24">
      <mat-form-field class="comwidth">
        <input matInput placeholder="承运商名称" formControlName="RName" />
      </mat-form-field>
    </div>
    <div fxFlex="24">
      <button ejs-button cssClass="e-info mat-width" (click)="Search()" style="width:90px!important;">查询</button>
    </div>
    <div fxFlex="24">
    </div>
    <div fxFlex="24">
    </div>
  </div>
</form>
<ejs-grid #grid  allowResizing= 'true' height="{{gridheight}}"
          [allowExcelExport]='true'  allowSorting='false'
          [allowSelection]="true"
          [enableHover]="false"
          allowPaging='false'  class="tabbox-new">
  <e-columns >
    <e-column field='ResourceId'  headerText='承运商编号' width='130' [isPrimaryKey]='true'>
      <ng-template #template let-data>

        <a [routerLink]="['/biz/carriers-management/carriers-detail', data.ResourceId]">
          <span style="margin-left: 5px;">{{data.ResourceId}}</span>
        </a>

      </ng-template>
    </e-column>
    <e-column field='RName' headerText='承运商名称'  width=120></e-column>
    <e-column field='LinkMan' headerText='联系人'  width=100></e-column>
    <e-column field='LinkTel' headerText='联系人电话'  width=110></e-column>
    <e-column field='RType' headerText='性质' textAlign="left"  width='100'></e-column>
    <e-column field='IsplatformUser' headerText='平台用户' textAlign="left"  width='110'></e-column>
    <e-column field='Enabe' headerText='状态' textAlign="left"  width='120'></e-column>
  </e-columns>
</ejs-grid>






