<div class="contentbox">
  <div class="contentit-l">
    <mat-card-title>运输商资料列表</mat-card-title>
    <mat-card-subtitle><b>| 当前位置</b></mat-card-subtitle>
  </div>
  <div class="contenttex-r">
    <button ejs-button cssClass="e-outline mat-auto" [routerLink]="['/biz/carriers-management/carriers-insert']"><i class="fas fa-plus-square"></i> 添加外部承运商</button>
  </div>
</div>

<form class="listfrom" [formGroup]="searchp" >
  <mat-form-field class="col-md-3">
    <input matInput formControlName="RName" />
    <span  matPrefix style="color: #888">承运商名称：&nbsp;</span>
  </mat-form-field>
  <button ejs-button cssClass="e-info mat-width" (click)="Search()" style="width:90px!important;">查询</button>
</form>

<ejs-grid #grid  allowResizing= 'true' height="{{gridheight}}"
          [allowExcelExport]='true'  allowSorting='false'
          [allowSelection]="true"
          [enableHover]="false"
          allowPaging='false'  class="contlistbox">
  <e-columns >
    <e-column field='ResourceId'  headerText='承运商编号' width='130' [isPrimaryKey]='true'>
      <ng-template #template let-data>

        <a [routerLink]="['/biz/carriers-management/carriers-detail', data.ResourceId]">
          <span style="margin-left: 5px;">{{data.ResourceId}}</span>
        </a>

      </ng-template>
    </e-column>
    <e-column field='RName' headerText='承运商名称'  width=120></e-column>
    <e-column field='LinkMan' headerText='联系人'  width=100></e-column>
    <e-column field='LinkTel' headerText='联系人电话'  width=110></e-column>
    <e-column field='RType' headerText='性质' textAlign="left"  width='100'></e-column>
    <e-column field='IsplatformUser' headerText='平台用户' textAlign="left"  width='110'></e-column>
    <e-column field='Enabe' headerText='状态' textAlign="left"  width='120'></e-column>
  </e-columns>
</ejs-grid>






