<div class="contentbox-new">
  <div class="contentit-l-new">
    <div class="contennews">
      <b>外租车</b>
      <span><i class="fas fa-home"></i><a [routerLink]="['/biz/home']" > 主页</a></span> ·
      <span>基础资料</span> ·
      <span>外租车</span>
    </div>
  </div>
  <div class="contenttex-r-new">
    <button ejs-button cssClass="e-outline mat-auto" [routerLink]="['/biz/vehicle-management/outdriver-insert']"><i class="fas fa-plus-square"></i> 新增外租车</button>
  </div>
</div>
<form class="listfrom-new2" [formGroup]="searchp" >
  <div fxLayout="row" fxLayoutAlign="space-between center" class="margin_t_10">
    <div fxFlex="24">
      <mat-form-field class="comwidth">
        <input placeholder="车牌号" matInput  formControlName="Trnum" />
      </mat-form-field>
    </div>
    <div fxFlex="24">
      <button ejs-button cssClass="e-info mat-width" (click)="Search()">查询</button>
    </div>
    <div fxFlex="24">
    </div>
    <div fxFlex="24">
    </div>
  </div>
</form>
<ejs-grid #grid  allowResizing= 'true' height="{{gridheight}}"
          [allowExcelExport]='true'  allowSorting='false'
          [allowSelection]="true"
          [enableHover]="false"
          allowPaging='true'  class="tabbox-new">
  <e-columns >
    <e-column  headerText='资源编号' field="ResourceId" isPrimaryKey='true' width='210'>
      <ng-template #template let-data>

        <a [routerLink]="['/biz/vehicle-management/ourdriver-detail', data.ResourceId]">
          <span style="margin-left: 5px;">{{data.ResourceId}}</span>
        </a>

      </ng-template>
    </e-column>
    <e-column  headerText='司机' field="Drname" isPrimaryKey='true' width='110'></e-column>
    <e-column  headerText='车牌号' field="Trnum" isPrimaryKey='true' width='135'></e-column>
    <e-column  headerText='车型' field="Trtype" isPrimaryKey='true' width='125'></e-column>
    <e-column  headerText='载重' field="Weight" isPrimaryKey='true' width='100'></e-column>
    <e-column  headerText='容积' field="Volume" isPrimaryKey='true' width='100'></e-column>
    <e-column  headerText='长' field="Length" isPrimaryKey='true' width='90'></e-column>
    <e-column  headerText='宽' field="Width" isPrimaryKey='true' width='90'></e-column>
    <e-column  headerText='高' field="Height" isPrimaryKey='true' width='90'></e-column>
    <e-column  headerText='平台资源' field="IsplatformUser" isPrimaryKey='true' width='110'></e-column>
    <e-column  headerText='状态' field="Enabel" isPrimaryKey='true' width='90'></e-column>
    <e-column  headerText='创建时间' field="CreateDateTime" isPrimaryKey='true' width='165'></e-column>
  </e-columns>
</ejs-grid>

