<div class="contentbox-new">
  <div class="contentit-l-new">
    <div class="contennews">
      <b>路由节点</b>
      <span><i class="fas fa-home"></i><a [routerLink]="['/biz/home']" > 主页</a></span> ·
      <span>基础资料</span> ·
      <span>路由节点</span>
    </div>
  </div>
  <div class="contenttex-r-new">
  </div>
</div>
<form class="listfrom-new2" [formGroup]="searchp" >
  <div fxLayout="row" fxLayoutAlign="space-between center" class="margin_t_10">
    <div fxFlex="24">
      <mat-form-field class="comwidth">
        <input matInput placeholder="发货网点名称" formControlName="BeginPointName" />
      </mat-form-field>
    </div>
    <div fxFlex="24">
      <mat-form-field class="comwidth">
        <input matInput placeholder="到货网点名称" formControlName="EndPointName" />
      </mat-form-field>
    </div>
    <div fxFlex="24" style="padding-bottom:5px">
      <button ejs-button cssClass="e-info mat-width" (click)="searching()">查询</button>
    </div>
    <div fxFlex="24">
    </div>
  </div>
</form>
<ejs-grid #grid  allowResizing= 'true' height="{{gridheight}}"
          (dataStateChange)="dataStateChange($event)"
          [allowExcelExport]='true'  allowSorting='false'
          [allowSelection]="true"
          [enableHover]="false"
          allowPaging='false'  class="tabbox-new">
  <e-columns >
    <e-column field='NodeId'  headerText='编号' isPrimaryKey='true' width='150'></e-column>
    <e-column field='NodeName' headerText='节点名称'  width=150></e-column>
    <e-column field='BeginPointId' headerText='始发网点编号'  width=150></e-column>
    <e-column field='BeginPointName' headerText='始发网点名称'  width=120></e-column>
    <e-column field='EndPointId' headerText='到达网点编号'  width=120></e-column>
    <e-column field='EndPointName' headerText='到达网点名称' textAlign="left"  width='140'></e-column>
    <e-column field='TransportHours' headerText='运输时长' textAlign="left"  width='100'></e-column>
    <e-column field='RouteDistance' headerText='里程'  textAlign="left" width=150></e-column>
  </e-columns>
</ejs-grid>




