<div class="contentbox-new">
  <div class="contentit-l-new">
    <div class="contennews">
      <b>客户列表</b>
      <span><i class="fas fa-home"></i><a [routerLink]="['/biz/home']" > 主页</a></span> ·
      <span><a [routerLink]="['/biz/customer-management/customers']" >客户列表</a> </span> ·
      <span>客户信息</span>
    </div>
  </div>
  <div class="contenttex-r-new">
    <button ejs-button cssClass="e-outline mat-auto" (click)="del()" ><i class="fas fa-trash"></i> 删除</button>
    <button ejs-button cssClass="e-outline mat-auto" (click)="saveaction()"  [disabled]="disenabelbtn"><i class="fas fa-save"></i> 修改&保存</button>
  </div>
</div>
<mat-card class="userbox">
  <mat-card-content>
    <mat-tab-group dynamicHeight="true" (selectedIndexChange)="changindex($event)">
      <mat-tab label="基础资料">
        <div *ngIf="customerProfileModle">
          <app-biz-customerbase  #basecom [customerProfileModle]="customerProfileModle"></app-biz-customerbase>
        </div>
      </mat-tab>
      <mat-tab label="开票信息">
        <app-biz-customertax [customerProfileModle]="customerProfileModle"></app-biz-customertax>
      </mat-tab>
      <mat-tab label="收发货地址">
        <app-biz-customeraddresslist [customerProfileModle]="customerProfileModle"></app-biz-customeraddresslist>
      </mat-tab>
    </mat-tab-group>
  </mat-card-content>
</mat-card>
