.contentbox-new {padding:10px 10px 10px 10px;wdith:100%;height:auto;clear:both;overflow:hidden;background:#fff;border-bottom:1px #e1e1e1 solid}
.contentit-l-new {width:40%;height:auto;float: left;}
.contenttex-r-new {width:60%;height:auto;float: right;}
.contentit-l-new div {width:100%;height:auto;margin-top:0px;font-size:16px;color:#666}
.contentit-l-new a {color:#666;text-decoration: none}
.contentit-l-new a:hover {color:#111;text-decoration:none;cursor:pointer}
.contenttex-r-new button {margin-left:10px;margin-top:-5px;float:right}
.listfrom-new {width:98.3%;height:60px!important;overflow:hidden;margin:0px 0!important;background:none;}
.listfrom-new button {margin-left:10px}
.tabbox-new {width:98.3%;height:auto!important;overflow:hidden;margin:5px 10px 0 10px!important;background:none;}
.contennews b{font-size:18px;color:#000;margin-right: 10px;font-weight: normal}
.contennews span {font-size:13px;color:#666;font-weight: normal}
.contennews span a  {font-size:13px;color:#666;font-weight: normal}
.contennews span i {color:#888}
.mat-form-field {margin-left:10px}
.mat-form-field-appearance-legacy .mat-form-field-wrapper {}
/*.bg-white-blue {background:#fff;margin:0 10px!important;border:1px #e1e1e1 solid;}
.mat-tab-label {}
.mat-tab-label-active {color:#e21641!important;background:#fff}
.mat-tab-labels {background:#f8f8f8}*/
.bg-white-blue {background:#fff;margin:0 10px!important}
.mat-tab-header {background:#0378d5;}
.mat-tab-label {background:#0378d5;color:#fff;opacity:1!important;height:40px!important;}
.mat-tab-label-active {color:#fff!important;}
.mat-tab-group.mat-warn .mat-ink-bar, .mat-tab-nav-bar.mat-warn .mat-ink-bar {background:#fff;margin-top:2px}
.e-grid .e-headercell, .e-grid .e-detailheadercell {height:32px!important;padding:0 15px 0!important;}
