<div class="contentbox-new">
  <div class="contentit-l-new">
    <div class="contennews">
      <b>订单列表</b>
      <span><i class="fas fa-home"></i><a [routerLink]="['/biz/home']" > 主页</a></span> ·
      <span><a [routerLink]="['/biz/myorder/list']" >订单列表</a></span> ·
      <span>当前订单</span></div>
    </div>
  <div class="contenttex-r-new">
    <button ejs-button cssClass="e-outline mat-auto" (click)="motifychangeroute(400,400)"><i class="fas fa-pencil-alt"></i> 送货调整</button>
    <button ejs-button cssClass="e-outline mat-auto"  (click)="createmyshipmentorder()"><i class="fas fa-plus"></i> 下达</button>

  </div>
</div>


<form  [formGroup]="searchp" class="listfrom-new2">
  <div fxLayout="row"  class="fxbox"  fxLayoutAlign="space-between center">
    <div fxFlex="23">
      <ejs-textbox placeholder="物流单号："  floatLabelType="Auto" formControlName="OrderTrackServerId"></ejs-textbox>
    </div>
    <div fxFlex="23">
      <ejs-textbox placeholder="客户单号："  floatLabelType="Auto" formControlName="CustomerOrderId"></ejs-textbox>
    </div>
    <div fxFlex="23">
      <ejs-textbox placeholder="到货城市："  floatLabelType="Auto" formControlName="DestCity"></ejs-textbox>
    </div>
    <div fxFlex="23">
      <ejs-textbox placeholder="订单标记："  floatLabelType="Auto" formControlName="CustomerSpecialVehicel"></ejs-textbox>
    </div>
  </div>
  <div fxLayout="row"  class="fxbox"  fxLayoutAlign="space-between center">
    <div fxFlex="23">
      <app-biz-mylogistiscstore2  style="width:100%;" [saveform]="searchp" formControlName="BeginLogisticStoreId"  SettingFormControlName="BeginLogisticStoreId"></app-biz-mylogistiscstore2>
    </div>
    <div fxFlex="23">
      <mat-form-field style="width:100%;margin-left:0;color:#666;">
          <mat-select matNativeControl  formControlName="LosigticTrackStatued" placeholder="下达状态：">
            <mat-option label="--状态选择 --">状态选择</mat-option>
            <mat-option value="1" selected>未下达</mat-option>
            <mat-option value="2">已下达</mat-option>
          </mat-select>
      </mat-form-field>
    </div>
    <div fxFlex="23" style="text-align: left;padding-bottom:10px">
      <button ejs-button cssClass="e-info mat-width" (click)="searching()">查询</button>
    </div>
    <div fxFlex="23">
    </div>
  </div>
</form>
<mat-tab-group #tabgroup  color="warn" dynamicHeight="false" disableRipple="true"  (selectedTabChange)="tabchanged($event)"  class="tabbox-new">
  <mat-tab label="同城订单">
    <app-logistic-order-data-list #gdi1></app-logistic-order-data-list>
  </mat-tab>
  <mat-tab label="长途订单">
    <app-logistic-order-data-list #gdi2></app-logistic-order-data-list>
  </mat-tab>
  <!--  <mat-tab label="未签收"></mat-tab>-->

</mat-tab-group>


