.opendivs h3 {font-size:16px;color:#000;font-weight:normal;border-bottom:1px #ccc solid;padding:0 0 0 0;text-align: left;margin:0;width:100%}
.mat-dialog-container {padding:10px 10px!important;}
.inputbo {margin:10px 0 0 0;text-align:left;padding:0;font-size:14px}
.alerts {font-size:13px;color:#dd0031;font-weight:normal;border:1px #ccc solid;padding:3px 5px;background:#f5f5f5;display: block;width:95.6%;margin:10px 0}
