<div class="contentbox">
  <div class="contentit-l">
    <mat-card-title>费用查询</mat-card-title>
    <mat-card-subtitle><b>| 当前位置</b></mat-card-subtitle>
  </div>
</div>
<form class="listfrom" [formGroup]="searchp" >

  <mat-form-field>
    <mat-select  placeholder="处理状态"  formControlName="ProcessStatued">
      <mat-option value="">全部</mat-option>
      <mat-option value="0">未申请</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="收/付款对象" formControlName="Chargeparty">
  </mat-form-field>

  <button ejs-button cssClass="e-info mat-width" (click)="searching()">查询</button>
</form>

<ejs-grid #grid  allowResizing= 'true' height="{{gridheight}}"
          (dataStateChange)="dataStateChange($event)"
          [allowExcelExport]='true'  allowSorting='false'
          [allowSelection]="true"
          [enableHover]="false"
          allowPaging='false'  class="contlistbox">
  <e-columns >
    <e-column field='SettleId' headerText='费用编号'  width=80>
      <ng-template #template let-data>
        <a [routerLink]="['/biz/fncharge/user-detail', data.SettleId]">{{data.SettleId }} </a>
      </ng-template>
    </e-column>
    <e-column field='StoreName' headerText='费用网点'  width=120></e-column>
    <e-column field='Chargeparty' headerText='收付款对象'  width=180></e-column>
    <e-column field='ChargeItem' headerText='费用项目' textAlign="left"  width='200'></e-column>
    <e-column field='ChargeAmt' headerText='结算金额' textAlign="left"  width='160'></e-column>
    <e-column field='IsOpenInvoice' headerText='是否开票' textAlign="left"  width='160'></e-column>
    <e-column field='Chargedirection' headerText='结算方向'  textAlign="left" width=160></e-column>
    <e-column field='ProcessStatued' headerText='处理状态'  textAlign="left" width=100></e-column>
    <e-column field='CreateDateTime' headerText='创建日期'  textAlign="left" width=150></e-column>
    <e-column field='ApplayDateTime' headerText='申请日期'  textAlign="left" width=150></e-column>

  </e-columns>
</ejs-grid>




