.contentbox-new {padding:10px 10px 10px 10px;wdith:100%;height:auto;clear:both;overflow:hidden;background:#fff;border-bottom:1px #e1e1e1 solid}
.contentit-l-new {width:40%;height:auto;float: left;}
.contenttex-r-new {width:60%;height:auto;float: right;text-align:right}
.contentit-l-new div {width:100%;height:auto;margin-top:0px;font-size:16px;color:#666}
.contentit-l-new a {color:#666;text-decoration: none}
.contentit-l-new a:hover {color:#111;text-decoration:none;cursor:pointer}
.contenttex-r-new button {margin-left:10px;margin-top:-5px;float:right}
.listfrom-new2 {width:98.3%;height:55px!important;overflow:hidden;margin:10px auto 0 auto!important;background:none;}
.listfrom-new2 button {margin-left:10px}
.tabbox-new {width:98.3%;height:auto!important;overflow:hidden;margin:0 10px 0 10px!important;background:none;}
.contennews b{font-size:18px;color:#000;margin-right: 10px;font-weight: normal}
.contennews span {font-size:13px;color:#666;font-weight: normal}
.contennews span a  {font-size:13px;color:#666;font-weight: normal}
.contennews span i {color:#888}
.fn-box {margin:10px;border:1px #eee solid;background:#fff;padding:10px}
.filebox {width:100%;height:auto;margin-top:10px}
.filebox h3 {font-size:18px;color:#333;border-bottom:1px #e1e1e1 solid;padding-bottom:10px;}
.filebox h3 i {margin-right:5px}
.comwidth {width:100%!important;}
.databoxs {width:100%;margin:0 auto 0 auto!important; }
.e-grid .e-headercell, .e-grid .e-detailheadercell {height:32px!important;padding:0 15px 0!important;}
.e-grid .e-rowcell {padding:8px 15px!important;width:auto!important;margin:0 10px!important;}
::ng-deep .e-grid .e-gridheader .e-sortfilter .e-headercelldiv {padding:0 0.6em;}
.btnfloat {float:right}
.contlistbox a {text-decoration: none}
.contlistbox a:hover {text-decoration:underline}
.mat-card-subtitle {margin-bottom:10px!important;}
.tipsbox {padding-top:15px;}
.tipsbox i {font-style: normal;margin:0 10px;color:#dd0031;font-size:14px}
.sourcelength {float:right;margin-right:12px}
.sourcelength b {color:#dd0031}
.e-tooltip-wrap {white-space: nowrap!important;top:105px!important;}
.sourcelength {height:32px;line-height:32px;float:right;border:1px #e1e1e1 solid;margin-top:0!important;width:auto;display:block;padding:0 10px;font-size:14px;color:#666}
.sourcelength b {color:#e21641}
.userimgs img {border-radius:50%;padding:2px;vertical-align: middle}
.userimgs span {vertical-align: middle}
.userimgs a {color:#3f5efb}
.userimgs a:hover span  {text-decoration:underline;}

.adminuser {width:97.6%;height:auto;margin:15px auto 0 auto;border:1px #e1e1e1 solid;overflow: hidden;background:#fff}
.admintit {width:auto;height:30px;line-height:30px;border-bottom:1px #e1e1e1 solid;font-size:14px;color:#666;font-weight:bold;padding-left:10px}
.admintext {width:auto;padding:5px 10px 5px 10px;vertical-align: middle;font-size:14px}
.admintext img {border-radius: 50%;vertical-align: middle;margin-right:30px}
.admintext span {margin-right:30px;color:#666}
.admintext a {text-decoration: none}
.admintext a:hover {text-decoration: underline}
.altusera {padding:5px 8px;float: right;color:#fff;background:#ed6d00;margin-right: 10px;font-size:12px;margin-top:5px}










