<div class="contentbox">
  <div class="contentit-l">
    <mat-card-title>配载发车/提货外包</mat-card-title>
    <mat-card-subtitle><b>| 当前位置</b></mat-card-subtitle>
  </div>
  <div class="contenttex-r"><button ejs-button cssClass="e-info mat-width"  style="width:auto!important;" (click)="opentihuo()" >新增派车单</button></div>
</div>
<div class="bendbox">

<form class="listfrom" [formGroup]="searchp" >
  <mat-form-field class="col-md-3">
    <label>
      <input matInput  formControlName="OrderTrackServerId" />
    </label>
    <span  matPrefix style="color: #888">物流单号：&nbsp;</span>
  </mat-form-field>
  <button ejs-button cssClass="e-info mat-width" (click)="searching()">查询</button>

  <!--  <button ejs-button cssClass="e-info" (click)="attchitem('400px','600px')">添加运单</button>-->

  <span class="sourcelength">已选择 <b>{{alreadyloadshipmentdatasource.length}}</b> 条数据</span>
</form>

<ejs-grid #grid
          height="{{gridheight}}"
          [pageSettings]='pageSettings'
          (dataStateChange)="dataStateChange($event)"
          [allowExcelExport]='true'  allowSorting='false'
          [allowSelection]="true"
          [enableHover]="false"
          [toolbar]="toolbar"
          allowPaging='true'  class="contlistbox">
  <e-columns >


    <e-column type='checkbox' width='50'></e-column>

    <e-column field='ShipmentId'  headerText='网点物流编号'  [visible]='false'  isPrimaryKey='true' width='165'></e-column>

    <e-column field='SystemOrderId'  headerText='订单编号'  [visible]='false'  width='165'></e-column>


    <e-column headerText='物流单号'  width='165'>
      <ng-template #template let-data>
        <a  appModalPage [modal]="'SimpleorderdetailComponent'"  [modal-data]="data.OrderLogisticDetailId">{{data.OrderTrackServerId}}</a>
      </ng-template>
    </e-column>

    <!--        <e-column field='ShipmentGroupId'  headerText='派车单号'  width='165'></e-column>-->


    <e-column field='Origincustomname'  headerText='提货客户'  width='165'></e-column>


    <e-column field='OrigincustomLinkman'  headerText='提货联系人'  width='165'></e-column>


    <e-column field='Origintel'  headerText='提货联系电话'  width='165'></e-column>


    <e-column field='Originarea'  headerText='提货区域'  width='165'></e-column>


    <e-column field='OriginAddress'  headerText='提货地址'  width='165'></e-column>



    <e-column field='TotalCount'  headerText='总件数'  width='165'></e-column>


    <e-column field='TotalVolume'  headerText='体积'  width='165'></e-column>


    <e-column field='TotalWeight'  headerText='重量'  width='165'></e-column>


    <e-column field='BeginLogisticStoreId' [visible]='false' headerText='接单网点编号'  width='165'></e-column>


    <e-column field='BeginLogisticStoreName'  headerText='返仓网点'  width='165'></e-column>


    <e-column field='PlanStatuedId'  headerText='提货状态'  width='165'></e-column>


    <e-column field='CreateDateTime'  headerText='下达时间'  width='165'></e-column>



  </e-columns>
</ejs-grid>

</div>

