@import '~@angular/material/theming';

$stbui-white: (
  500: white,
  contrast: (
    500: $black-87-opacity
  )
);
$stbui-black: (
  500: black,
  contrast: (
    //500: white
    500: $white-87-opacity
  )
);
$stbui-dark: (
  50: #ECECEE,
  100: #C5C6CB,
  200: #9EA1A9,
  300: #7D818C,
  400: #5C616F,
  500: #3C4252,
  600: #353A48,
  700: #2D323E,
  800: #262933,
  900: #1E2129,
  A100: #C5C6CB,
  A200: #9EA1A9,
  A400: #5C616F,
  A700: #2D323E,
  contrast: (
    50: $black-87-opacity,
    100: $black-87-opacity,
    200: $black-87-opacity,
    300: white,
    400: white,
    500: $white-87-opacity,
    600: $white-87-opacity,
    700: $white-87-opacity,
    800: $white-87-opacity,
    900: $white-87-opacity,
    A100: $black-87-opacity,
    A200: $white-87-opacity,
    A400: $white-87-opacity,
    A700: $white-87-opacity,
  )
);

$stbui-material: (
  500: #263238,
  contrast: (
    500: #80CBC4,
    600: #82B1FF,
    700: #C3E88D,
    800: rgba(199, 146, 234, 1),
    900: #546E7A
  )
);

$red: mat-palette($mat-red);
$pink: mat-palette($mat-pink);
$purple: mat-palette($mat-purple);
$deep-purple: mat-palette($mat-deep-purple);
$indigo: mat-palette($mat-indigo);
$blue: mat-palette($mat-blue);
$light-blue: mat-palette($mat-light-blue);
$cyan: mat-palette($mat-cyan);
$teal: mat-palette($mat-teal);
$green: mat-palette($mat-green);
$light-green: mat-palette($mat-light-green);
$lime: mat-palette($mat-lime);
$yellow: mat-palette($mat-yellow);
$amber: mat-palette($mat-amber);
$orange: mat-palette($mat-orange);
$deep-orange: mat-palette($mat-deep-orange);
$brown: mat-palette($mat-brown);
$grey: mat-palette($mat-grey);
$blue-grey: mat-palette($mat-blue-grey);
$white: mat-palette($stbui-white);
$black: mat-palette($stbui-black);
$dark: mat-palette($stbui-dark);
$material: mat-palette($stbui-material);

$stbui-theme-colors: (
  primary: $primary,
  accent: $accent,
  warn: $warn,
  Succeed: $green,
  red: $red,
  pink: $pink,
  purple: $purple,
  deep-purple: $deep-purple,
  indigo: $indigo,
  blue: $blue,
  light-blue: $light-blue,
  cyan: $cyan,
  teal: $teal,
  green: $green,
  light-green: $light-green,
  lime: $lime,
  yellow: $yellow,
  amber: $amber,
  orange: $orange,
  deep-orange: $deep-orange,
  brown: $brown,
  grey: $grey,
  blue-grey: $blue-grey,
  white: $white,
  black: $black,
  dark: $dark,
  material: $material
);
.mat-green {background:#1fa103!important;color:#fff!important;line-height:1em!important;}
.mat-cancel {background:#e1e1e1!important;color:#666!important;line-height:1em!important;}
.mat-reject {background:#ba0c31!important;color:#fff!important;line-height:1em!important;}
.mat-blue {background:#004b91!important;color:#fff!important;line-height:1em!important;}
.mat-org {background:#ed6d00!important;color:#fff!important;line-height:1em!important;}
.mat-width {width:90px!important;height:32px!important;line-height:20px!important;}
.mat-deepblue {background:#3949ab!important;color:#fff!important;line-height:1em!important;}
.mat-pur {background:#6b2573!important;color:#fff!important;line-height:1em!important;}
.mat-auto {width:auto!important;height:32px!important;line-height:20px!important;}
.mat-gray {color:#999!important;}
.tabbox-new2 {width:98.3%;height:auto!important;overflow:hidden;margin:5px 10px 0 10px!important;background:none;}
.tabbox-new2.bg-white-blue {background:#fff;margin:0 10px!important}
.tabbox-new2 .mat-tab-header {background:#0378d5;}
.tabbox-new2 .mat-tab-label {background:#0378d5!important;;color:#fff!important;;opacity:1!important;height:40px!important;}
.tabbox-new2 .mat-tab-label-active {color:#fff!important;}
.tabbox-new2.mat-tab-group.mat-warn .mat-ink-bar, .mat-tab-nav-bar.mat-warn .mat-ink-bar {background:#fff!important;;margin-top:2px!important;}
.tabbox-new2 .e-grid .e-headercell, .e-grid .e-detailheadercell {height:32px!important;padding:0 15px 0!important;}
.tabbox-new2 .mat-form-field-infix {width:100%!important;}
