<div class="contentbox">
  <div class="contentit-l">
    <div><i class="fas fa-compass"></i> 当前位置：外包发车 / <b>新增</b></div>
  </div>
  <div class="contenttex-r">
    <button ejs-button cssClass="e-info mat-width" appTmssaveconfirm  comfirmMessage="确认装车吗?" (onSuggest)="save($event)" >装车保存</button>
    <button style="margin-left:15px;" disabled="true" ejs-button cssClass="e-info mat-width"  (click)="savedata()">装车&发车</button>
  </div>
</div>
<div class="userbox">
  <form [formGroup]="saveform">

<!--    <app-shipmentplan-insert-headitem [saveform]="saveform" [tasktype]="inputtasktype"></app-shipmentplan-insert-headitem>-->
    <app-shipmentplan-out-insert-headitem #logistichead [saveform]="saveform" [tasktype]="inputtasktype"></app-shipmentplan-out-insert-headitem>
    <app-shipment-logisticprice [saveform]="saveform"  usercheckId="TrincId"></app-shipment-logisticprice>

  </form>
    <!--<app-shipmentplan-insert-sendcarfeedetailinsert></app-shipmentplan-insert-sendcarfeedetailinsert>-->
    <app-shipmentplan-insert-logisticitems [showaddbtn]="false" [showdelbtn]="false" [showspliter]="false"></app-shipmentplan-insert-logisticitems>


</div>
