<div class="contentbox">
  <div class="contentit-l">
    <mat-card-title>日常收支查询</mat-card-title>
    <mat-card-subtitle><b>| 当前位置</b></mat-card-subtitle>
  </div>
</div>
<form class="listfrom" [formGroup]="searchp" >

  <mat-form-field>
    <input matInput placeholder="结算单号" formControlName="SettleId">
  </mat-form-field>


  <mat-form-field>
    <input matInput placeholder="收/付款对象" formControlName="Chargeparty">
  </mat-form-field>

  <button ejs-button cssClass="e-info mat-width" (click)="searching()">查询</button>
</form>

<ejs-grid #grid  allowResizing= 'true' height="{{gridheight}}"
          (dataStateChange)="dataStateChange($event)"
          [allowExcelExport]='true'  allowSorting='false'
          [allowSelection]="true"
          [enableHover]="false"
          allowPaging='false'  class="contlistbox">
  <e-columns >
    <e-column field='SettleId' headerText='结算单号'  width=80>
      <ng-template #template let-data>
        <a [routerLink]="['/biz/fncharge/admin-detail', data.SettleId]">{{data.SettleId }} </a>
      </ng-template>
    </e-column>
    <e-column field='Chargeparty' headerText='收付款对象'  width=180></e-column>
    <e-column field='ChargeItem' headerText='费用项目' textAlign="left"  width='200'></e-column>
    <e-column field='ReceiveChargeAmt' headerText='收入金额' textAlign="left"  width='160'></e-column>
    <e-column field='PaymentChargeAmt' headerText='支出金额' textAlign="left"  width='160'></e-column>
    <e-column field='DeliveryMonth' headerText='财务记账月份' textAlign="left"  width='160'></e-column>
    <e-column field='FianceNo' headerText='财务凭证号码' textAlign="left"  width='160'></e-column>
    <e-column field='IsOpenInvoice' headerText='是否开票' textAlign="left"  width='160'></e-column>
    <e-column field='ProcessStatued' headerText='处理状态'  textAlign="left" width=100></e-column>
    <e-column field='CreateUser' headerText='创建日期'  textAlign="left" width=150></e-column>
    <e-column field='CreateDateTime' headerText='创建日期'  textAlign="left" width=150></e-column>
    <e-column field='AcceptDate' headerText='接单日期'  textAlign="left" width=150></e-column>
    <e-column field='InvoiceDate' headerText='开票日期'  textAlign="left" width=150></e-column>
    <e-column field='SettledDate' headerText='冲销日期'  textAlign="left" width=150></e-column>
  </e-columns>
</ejs-grid>




